{% extends 'baseAdmin.html.twig' %}

 {% block content %}
     {% if is_granted('ROLE_SOPORTE') or is_granted('ROLE_ADMIN') %}
         <!-- Start Services Section -->
         <section class="services-section">
             <div class="container">
                 <div class="row mt-2">
                     <div class="col-12">
                         <div class="table-responsive">
                             <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                 <thead class="title-bg-color">
                                 <tr>
                                     <th>Id</th>
                                     <th>Fecha</th>
                                     <th>Entrega</th>
                                     <th>Prioridad</th>
                                     <th>Descripcion</th>
                                     <th>Caso</th>
                                     <th title="Estado ejecucion">EJE</th>
                                     <th title="Estado terminado">TER</th>
                                     <th title="Estado verificado">VER</th>
                                     <th title="Estado devolucion">DEV</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 {% for arTarea in arTareas %}
                                     <tr>
                                         <td>{{ arTarea.codigoTareaPk }}</td>
                                         <td>{{ arTarea.fecha | date('Y-m-d H:i') }}</td>
                                         <td>{{ arTarea.fechaEntrega ? arTarea.fechaEntrega | date('Y-m-d H:i') : '' }}</td>
                                         <td>{{ arTarea.codigoPrioridadFk }}</td>
                                         <td>{{ arTarea.descripcion }}</td>
                                         <td>{{ arTarea.codigoCasoFk }}</td>
                                         <td class="text-center">{{ arTarea.estadoEjecucion ? 'SI':'NO' }}</td>
                                         <td class="text-center">{{ arTarea.estadoTerminado ? 'SI':'NO' }}</td>
                                         <td class="text-center">{{ arTarea.estadoVerificado ? 'I':'NO' }}</td>
                                         <td {% if arTarea.estadoDevolucion %}class="danger" {% endif %}>{{ arTarea.estadoDevolucion ? 'SI':'NO' }}</td>
                                     </tr>
                                 {% endfor %}
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </div>
                 <div class="row mt-2">
                     <div class="col-12">
                         <div class="card">
                             <div class="card-header title-bg-color">
                                 <h5>Errores por cliente</h5>
                             </div>
                             <div class="card-body p-0">
                                 <table class="table table-striped tabla-administracion mb-none ">
                                     <thead>
                                     <tr>
                                         <th>Cliente</th>
                                         <th>Errores</th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     {% for arError in arErrores %}
                                         <tr>
                                             <td>{{ arError.clienteNombreCorto }}</td>
                                             <td><span class="label label-success">{{ arError.cantidad }}</span>
                                             </td>
                                         </tr>
                                     {% endfor %}
                                     </tbody>
                                 </table>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </section>
     {% endif %}
 {% endblock %}