{% extends 'base.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>¿Como se hace?</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a>
                            </li>
                            <li>Preguntas frecuentes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Faq Section -->
    <section class="faq-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como ingresar al sistema?</a>
                                <p class="accordion-content show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como crear una programacion de nomina?</a>
                                <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como se genera un informe de pagos de nomina?</a>
                                <p class="accordion-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Faq Section -->

    <!-- Start Overview Section -->
    <section class="overview-section section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="overview-image">
                        <img src="{{ asset('landingPage/img/choose-2.png') }}" alt="logo">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="overview-content">
                        <h2>¿Aun no solucionamos su inquietud?</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.</p>
                        <ul class="features-list">
                            <li><a href="{{ path('inicio') }}"><span class="active">Documentacion & Manuales</span></a></li>
                            <li><a href="{{ path('inicio') }}"><span>Canal YouTube</span></a></li>
                            <li><a href="{{ path('inicio') }}"><span>Foro</span></a></li>
                            <li><a href="{{ path('inicio') }}"><span>Preguntas frecuentes</span></a></li>
                            <li><a href="{{ path('soporte_asesor') }}"><span>Soporte asesor</span></a></li>
                            <li><a href="{{ path('soporte_asesor_detalle', {'id':0}) }}"><span>Consultar soporte</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Overview Section -->

{% endblock %}