{% extends 'base.html.twig' %}
{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Detalle de soporte</h2>
                        <ul>
                            <li><a href="{{ path('soporte') }}">Soporte</a>
                            </li>
                            <li>Informacion del soporte</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Blog Details Area -->
    <section class="blog-details-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="blog-details-desc">
                        {% if arSoporte %}
                            <div class="article-content">
                                <div class="entry-meta">
                                    <ul>
                                        <li> <span>Creado en:</span>  <a href="#">{{ arSoporte.fecha | date('F jS \\a\\t g:ia')}}</a>
                                        </li>
                                        <li> <span>Publicado por:</span>  <a href="#">{{ arSoporte.contacto }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3>Descripcion soporte # {{ arSoporte.codigoSoportePk }}</h3>
                                <p>{{ arSoporte.descripcion }}</p>
                            </div>
                            {% if arSoporte.estadoSolucionado %}
                            <div class="comments-area">
                                <h3 class="comments-title">Respuesta:</h3>
                                <ol class="comment-list">
                                    <li class="comment">
                                        <article class="comment-body">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img src="{{ asset('landingPage/img/client/comment-3.jpg') }}" class="avatar" alt="image">
                                                    <b class="fn">Asesor Semantica</b>
                                                    <span class="says">says:</span>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="#">
                                                        <span>{{ arSoporte.fechaSolucion | date('F jS \\a\\t g:ia')}}</span>
                                                    </a>
                                                </div>
                                            </footer>
                                            <div class="comment-content">
                                                <p>{{ arSoporte.solucion }}</p>
                                            </div>
                                        </article>
                                    </li>
                                </ol>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-lg-4 col-md-12">
                    <aside class="widget-area" id="secondary">
                        <section class="widget widget_search">
                            {{ form_start(formBuscar, { 'attr': {'class': 'search-form search-top'} }) }}
                                <label> <span class="screen-reader-text">Search for:</span>
                                    {{ form_widget(formBuscar.codigoSoporte, { 'attr': {'class':'search-field', 'placeholder': 'Buscar...'} }) }}
                                </label>
                                {{ form_widget(formBuscar.buscar) }}
                            {{ form_end(formBuscar) }}
                        </section>
                        {% if arSoporte %}
                        <section class="widget widget_categories">
                            <h3 class="widget-title">Estados</h3>
                            <ul>
                                {% if arSoporte.estadoAtendido %}
                                    <li> <a href="#">Atendido <span class="categories-link-count"> {{ arSoporte.fechaAtendido | date('Y-m-d H:i') }}</span></a></li>
                                {% endif %}
                                {% if arSoporte.estadoSolucionado %}
                                    <li> <a href="#">Solucionado <span class="categories-link-count"> {{ arSoporte.fechaSolucion | date('Y-m-d H:i') }}</span></a></li>
                                {% endif %}
                            </ul>
                        </section>
                        {% endif %}
                    </aside>
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Details Area -->

{% endblock %}