{% extends 'baseAdmin.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Soporte personalizado</h2>
                        <ul>
                            <li><a href="index.html">Soporte</a>
                            </li>
                            <li>Solicitar soporte personalizado</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Contact Section -->
    <div class="contact-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="contact-information-box-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Address:</h6>
                                        <p>4035 Heavens,</p>
                                        <p>Los Angeles, California</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-map-marker"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Phone:</h6>
                                        <p>+000 313 577 111</p>
                                        <p>+000 313 577 222</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-call"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Email:</h6>
                                        <p>info@example.com</p>
                                        <p>support@example.com</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-mail"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="contact-form contact-form-3">
                        <p class="form-message"></p>
                        {{ form_start(form, { 'attr': {'class': 'form'} }) }}
                            <div class="row">
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        {{ form_widget(form.contacto, { 'attr': {'placeholder': 'Su nombre'} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        {{ form_widget(form.correo, { 'attr': {'placeholder': 'Correo'} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        {{ form_widget(form.telefono, { 'attr': {'placeholder': 'Telefono'} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="form-group">
                                        {{ form_widget(form.clienteIngreso, { 'attr': {'placeholder': 'Cliente'} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        {{ form_widget(form.descripcion, { 'attr': {'placeholder': 'Su pregunta', 'cols':30, 'rows':6} }) }}
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    {{ form_widget(form.guardar, { 'attr': {'class': 'default-btn'} }) }}
                                    <a href="{{ path('soporte_asesor_detalle', {'id':0}) }}">Consultar</a>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Section -->

{% endblock %}