{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('soporte_caso_lista') }}">Volver</a>
{#                            {% if arCaso.estadoCerrado == 0 %}#}
{#                                <a class="btnCustom"#}
{#                                   href="javascript:abrirVentana3('{{ path('soporte_caso_solucion', {'id': arCaso.codigoCasoPk }) }}', 'Solucion', 600, 1200)">Solucion</a>#}
{#                            {% endif %}#}
                            {{ form_widget(form.btnCerrar, { 'attr': {'class': 'btnCustom'} }) }}
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'caso',  'codigo': arCaso.codigoCasoPk }) }}', 'Archivos', 800, 1250)">
                                <i class="fas fa-upload"></i> Archivos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered tabla-administracion">
                                        <tr>
                                            <td class="title-bg-color">CODIGO:</td>
                                            <td class="td-in-well">{{ arCaso.codigoCasoPk }}</td>
                                            <td class="title-bg-color">FECHA:</td>
                                            <td class="td-in-well">{{ arCaso.fecha | date('Y-m-d') }}</td>
                                            <td class="title-bg-color">CLIENTE:</td>
                                            <td class="td-in-well">{{ arCaso.clienteRel.nombreCorto | default('') }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">CONTACTO:</td>
                                            <td class="td-in-well">{{ arCaso.contacto }}</td>
                                            <td class="title-bg-color">TELEFONO:</td>
                                            <td class="td-in-well">{{ arCaso.telefono }}</td>
                                            <td class="title-bg-color">CORREO:</td>
                                            <td class="td-in-well">{{ arCaso.correo }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">MÓDULO:</td>
                                            <td class="td-in-well">{{ arCaso.moduloRel.nombre | default ('')}}</td>
                                            <td class="title-bg-color"></td>
                                            <td class="td-in-well"></td>
                                            <td class="title-bg-color"></td>
                                            <td class="td-in-well"></td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">DESCRIPCION:</td>
                                            <td class="td-in-well" colspan="5">{{ arCaso.descripcion }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">FECHA CERRADO:</td>
                                            <td class="td-in-well">{{ arCaso.fechaCerrado ? arCaso.fechaCerrado | date('Y-m-d H:i') }}</td>
                                            <td class="title-bg-color">FECHA ATENDIDO:</td>
                                            <td class="td-in-well">{{ arCaso.fechaAtendido ? arCaso.fechaAtendido | date('Y-m-d H:i') }}</td>
                                            <td class="title-bg-color">USUARIO:</td>
                                            <td class="td-in-well">{{ arCaso.codigoUsuarioFk }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="single-testimonial">
                <nav>
                    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-respuesta" role="tab" aria-controls="nav-home" aria-selected="true">Respuesta</a>
                        <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-gestion" role="tab" aria-controls="nav-home" aria-selected="true">Gestion</a>
                        <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-tarea" role="tab" aria-controls="nav-home" aria-selected="true">Tarea</a>
                        <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-escalado" role="tab" aria-controls="nav-home" aria-selected="true">Escalados</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-respuesta" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arCaso.estadoCerrado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('soporte_caso_respuesta', { 'codigoCaso': arCaso.codigoCasoPk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                nuevo
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Comentario</th>
                                            <th>Usuario</th>
                                            <th></th>
                                            <th class="text-center" title="seleccionar todos">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="ChkSeleccionar"
                                                           onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                                    <label class="custom-control-label" for="ChkSeleccionar"></label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arRespuesta in arRespuestas %}
                                            <tr>
                                                <td>{{ arRespuesta.codigoCasoRespuestaPk }}</td>
                                                <td>{{ arRespuesta.fecha | date('Y-m-d h:i') }}</td>
                                                <td>{{ arRespuesta.comentario }}</td>
                                                <td>{{ arRespuesta.codigoUsuarioFk }}</td>
                                                <td class="text-center">
                                                    <a href="javascript:abrirVentana3('{{ path('soporte_caso_respuesta', { 'codigoCaso': arCaso.codigoCasoPk,  'id': arRespuesta.codigoCasoRespuestaPk }) }}', 'Archivos', 800, 1250)">
                                                        <i class="fa fa-edit fa-2x"></i>
                                                    </a>
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arRespuesta.codigoCasoRespuestaPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="nav-gestion" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arCaso.estadoCerrado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('soporte_caso_gestion', { 'codigoCaso': arCaso.codigoCasoPk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                nuevo
                                            </a>
                                        {% endif %}
                                        {{ form_widget(form.btnEliminarGestion, { 'attr': {'class': 'btnCustomDanger'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th title="Fecha Gestion">F_Gestion</th>
                                            <th>Usuario</th>
                                            <th>Comentario</th>
                                            <th></th>
                                            <th class="text-center" title="seleccionar todos">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="ChkSeleccionar"
                                                           onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                                    <label class="custom-control-label" for="ChkSeleccionar"></label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arGestion in arGestiones %}
                                            <tr>
                                                <td>{{ arGestion.codigoCasoGestionPk }}</td>
                                                <td>{{ arGestion.fecha | date('Y-m-d h:i') }}</td>
                                                <td>{{ arGestion.fechaGestion | date('Y-m-d h:i') }}</td>
                                                <td>{{ arGestion.codigoUsuarioFk }}</td>
                                                <td>{{ arGestion.comentario }}</td>
                                                <td class="text-center">
                                                    {% if arCaso.estadoCerrado == 0 %}
                                                        <a href="javascript:abrirVentana3('{{ path('soporte_caso_gestion', { 'codigoCaso': arCaso.codigoCasoPk,  'id': arGestion.codigoCasoGestionPk }) }}', 'Archivos', 800, 1250)">
                                                            <i class="fa fa-edit fa-2x"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arGestion.codigoCasoGestionPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="nav-tarea" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arCaso.estadoCerrado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('soporte_caso_tarea', { 'codigoCaso': arCaso.codigoCasoPk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                Nuevo
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive mt-2">
                                    <table class="table table-condensed table-bordered tabla-administracion">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Entrega</th>
                                            <th>Prioridad</th>
                                            <th>Usuario</th>
                                            <th>Descripcion</th>
                                            <th>Terminado</th>
                                            <th title="Estado ejecucion">EJE</th>
                                            <th title="Estado terminado">TER</th>
                                            <th title="Estado verificado">VER</th>
                                            <th title="Estado devolucion">DEV</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arTarea in arTareas %}
                                            <tr>
                                                <td>{{ arTarea.codigoTareaPk }}</td>
                                                <td>{{ arTarea.fecha | date('Y-m-d H:i') }}</td>
                                                <td>{{ arTarea.fechaEntrega ? arTarea.fechaEntrega | date('Y-m-d H:i') : '' }}</td>
                                                <td>{{ arTarea.codigoPrioridadFk }}</td>
                                                <td>{{ arTarea.codigoUsuarioFk }}</td>
                                                <td>{{ arTarea.descripcion }}</td>
                                                <td>{{ arTarea.comentarioTerminado }}</td>
                                                <td>{{ arTarea.estadoEjecucion ? 'SI':'NO' }}</td>
                                                <td>{{ arTarea.estadoTerminado ? 'SI':'NO' }}</td>
                                                <td>{{ arTarea.estadoVerificado ? 'I':'NO' }}</td>
                                                <td {% if arTarea.estadoDevolucion %}class="danger" {% endif %}>{{ arTarea.estadoDevolucion ? 'SI':'NO' }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="nav-escalado" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arCaso.estadoCerrado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('soporte_caso_escalado', { 'codigoCaso': arCaso.codigoCasoPk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                nuevo
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Comentario</th>
                                            <th>Usuario</th>
                                            <th>U_Destino</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arEscalado in arEscalados %}
                                            <tr>
                                                <td>{{ arEscalado.codigoCasoEscaladoPk }}</td>
                                                <td>{{ arEscalado.fecha | date('Y-m-d h:i') }}</td>
                                                <td>{{ arEscalado.comentario }}</td>
                                                <td>{{ arEscalado.codigoUsuarioFk }}</td>
                                                <td>{{ arEscalado.codigoUsuarioDestinoFk }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
