{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('soporte_caso_lista') }}">Volver <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Nuevo</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">Cliente:</label>
                                        {{ form_widget(form.clienteRel) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Prioridad:</label>
                                        {{ form_widget(form.prioridadRel) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Tipo:</label>
                                        {{ form_widget(form.casoTipoRel) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Usuario:</label>
                                        {{ form_widget(form.usuarioRel) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4">Compromiso:</label>
                                        {{ form_widget(form.compromiso) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="inputEmail4">Correo:</label>
                                        {{ form_widget(form.correo) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"></label>

                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        {{ form_widget(form.estadoDesarrollo) }}
                                        {{ form_widget(form.estadoDesarrolloLargoPlazo) }}
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputPassword4"></label>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
