{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <section class="card">
                            <div class="card-header title-bg-color">
                                <h5>Información</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputPassword4">Cliente:</label>
                                        {{ form_widget(form.clienteRel) }}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputPassword4">Empresa:</label>
                                        {{ form_widget(form.empresa) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Fecha:</label>
                                    {{ form_widget(form.fecha) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Responsable:</label>
                                    {{ form_widget(form.responsable) }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
