{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-between">
                            <div>
                                <a class="btnCustom" href="{{ path('soporte_soporte_lista') }}">Volver</a>
                                {% if arSoporte.estadoSolucionado == 0 %}
                                    <a class="btnCustom"
                                       href="javascript:abrirVentana3('{{ path('soporte_soporte_solucion', {'id': arSoporte.codigoSoportePk}) }}', 'Solucion', 600, 1200)">Solucion</a>
                                {% endif %}
                                <a class="btnCustom"
                                   href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'soporte',  'codigo': arSoporte.codigoSoportePk }) }}', 'Archivos', 800, 1250)">
                                    <i class="fas fa-upload"></i> Archivos
                                </a>
                            </div>
                            <div>
                                {% if arSoporte.estadoSolucionado == 1 %}
                                    <span class="estado"><i class="fa fa-check-circle"></i> Solucionado </span>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="table-responsive-sm">
                            <table class="table table-condensed table-bordered tabla-administracion">
                                <tr>
                                    <td class="title-bg-color">CODIGO:</td>
                                    <td class="td-in-well">{{ arSoporte.codigoSoportePk }}</td>
                                    <td class="title-bg-color">FECHA:</td>
                                    <td class="td-in-well">{{ arSoporte.fecha | date('Y-m-d') }}</td>
                                    <td class="title-bg-color"></td>
                                    <td class="td-in-well"></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">CONTACTO:</td>
                                    <td class="td-in-well">{{ arSoporte.contacto }}</td>
                                    <td class="title-bg-color">TELEFONO:</td>
                                    <td class="td-in-well">{{ arSoporte.telefono }}</td>
                                    <td class="title-bg-color">CORREO:</td>
                                    <td class="td-in-well">{{ arSoporte.correo }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">DESCRIPCIÓN:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.descripcion }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SOLUCIÓN INTERNA:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.solucion }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SOLUCIÓN CLIENTE:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.solucionCliente }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial">
                <nav>
                    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-llamadas" role="tab"
                           aria-controls="nav-home" aria-selected="true">LLamadas</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-llamadas" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arSoporte.estadoSolucionado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('soporte_soporte_llamada', { 'codigoSoporte': arSoporte.codigoSoportePk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                nuevo
                                            </a>
                                        {% endif %}
                                        {{ form_widget(form.btnEliminarLLamadas, { 'attr': {'class': 'btnCustomDanger'} }) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive-sm mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Fecha llamada</th>
                                            <th>Comentarios</th>
                                            <th></th>
                                            <th class="text-center" title="seleccionar todos">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="ChkSeleccionar"
                                                           onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                                    <label class="custom-control-label" for="ChkSeleccionar"></label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arLlamada in arLlamadas %}
                                            <tr>
                                                <td>{{ arLlamada.codigoSoporteLLamadaPk }}</td>
                                                <td>{{ arLlamada.fecha | date('Y-m-d') }}</td>
                                                <td>{{ arLlamada.fechaLLamada | date('Y-m-d') }}</td>
                                                <td>{{ arLlamada.comentarios }}</td>
                                                <td class="text-center">
                                                    {% if arSoporte.estadoSolucionado == 0 %}
                                                        <a href="javascript:abrirVentana3('{{ path('soporte_soporte_llamada', { 'codigoSoporte': arSoporte.codigoSoportePk,  'id': arLlamada.codigoSoporteLLamadaPk }) }}', 'Archivos', 800, 1250)">
                                                            <i class="fa fa-edit fa-2x"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arLlamada.codigoSoporteLLamadaPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
