{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('soporte_soporte_lista') }}">Volver</a>
                            {% if arSoporte.estadoSolucionado == 0 %}
                                <a class="btnCustom"
                                   href="javascript:abrirVentana3('{{ path('soporte_soporte_solucion', {'id': arSoporte.codigoSoportePk}) }}', 'Solucion', 600, 1200)">Solucion</a>
                            {% endif %}
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'soporte',  'codigo': arSoporte.codigoSoportePk }) }}', 'Archivos', 800, 1250)">
                                <i class="fas fa-upload"></i> Archivos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="table-responsive-sm">
                            <table class="table table-condensed table-bordered tabla-administracion">
                                <tr>
                                    <td class="title-bg-color">CODIGO:</td>
                                    <td class="td-in-well">{{ arSoporte.codigoSoportePk }}</td>
                                    <td class="title-bg-color">FECHA:</td>
                                    <td class="td-in-well">{{ arSoporte.fecha | date('Y-m-d') }}</td>
                                    <td class="title-bg-color"></td>
                                    <td class="td-in-well"></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">CONTACTO:</td>
                                    <td class="td-in-well">{{ arSoporte.contacto }}</td>
                                    <td class="title-bg-color">TELEFONO:</td>
                                    <td class="td-in-well">{{ arSoporte.telefono }}</td>
                                    <td class="title-bg-color">CORREO:</td>
                                    <td class="td-in-well">{{ arSoporte.correo }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">DESCRIPCIÓN:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.descripcion }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SOLUCIÓN INTERNA:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.solucion }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SOLUCIÓN CLIENTE:</td>
                                    <td class="td-in-well" colspan="5">{{ arSoporte.solucionCliente }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-testimonial">
                <nav>
                    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-tarea" role="tab"
                           aria-controls="nav-home" aria-selected="true">Tarea</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-tarea" role="tabpanel"
                         aria-labelledby="nav-home-tab">

                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
