{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Filtros</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Cliente:</label>
                                        {{ form_widget(form.clienteRel) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Atendido:</label>
                                        {{ form_widget(form.estadoAtendido) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Solucionado:</label>
                                        {{ form_widget(form.estadoSolucionado) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-end">
                            <a class="btnCustom" href="{{ path('soporte_soporte_nuevo', {'id': 0}) }}">Nuevo</a>
                        </div>
                        <div class="table-responsive-sm mt-2">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Cliente</th>
                                    <th>Fecha</th>
                                    <th>Modulo</th>
                                    <th>F_ATE</th>
                                    <th>F_SOL</th>
                                    <th>Contacto</th>
                                    <th>Telefono</th>
                                    <th>Correo</th>
                                    <th>Descripcion</th>
                                    <th>Solucion</th>
                                    <th>Ate</th>
                                    <th>Sol</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arSoporte in arSoportes %}
                                    <tr>
                                        <td>{{ arSoporte.codigoSoportePk }}</td>
                                        <td>{{ arSoporte.clienteNombreCorto }}</td>
                                        <td>{{ arSoporte.fecha | date('Y-m-d H:i') }}</td>
                                        <td>{{ arSoporte.moduloNombre }}</td>
                                        <td>{{ arSoporte.estadoAtendido ? arSoporte.fechaAtendido | date('Y-m-d H:i'): '' }}</td>
                                        <td>{{ arSoporte.estadoSolucionado ? arSoporte.fechaSolucion | date('Y-m-d H:i'): '' }}</td>
                                        <td>{{ arSoporte.contacto }}</td>
                                        <td>{{ arSoporte.telefono }}</td>
                                        <td>{{ arSoporte.correo }}</td>
                                        <td>{{ arSoporte.descripcion }}</td>
                                        <td>{{ arSoporte.solucion }}</td>
                                        <td class="text-center">
                                            {% if arSoporte.estadoAtendido == 1 %}
                                                SI
                                            {% else %}
                                                NO
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            {% if arSoporte.estadoSolucionado == 1 %}
                                                SI
                                            {% else %}
                                                NO
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown d-flex justify-content-center align-content-start">
                                                <a class=" dropdown-toggle" type="button" id="dropdownMenu2"
                                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Opciones
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                    {% if arSoporte.estadoAtendido == 0 %}
                                                        <button class="dropdown-item" type="submit" name="OpAtender"
                                                                value="{{ arSoporte.codigoSoportePk }}">Atender
                                                        </button>
                                                    {% else %}
                                                        <a class="dropdown-item disabled"
                                                           aria-disabled="true">Atendido</a>
                                                    {% endif %}
                                                    {% if arSoporte.estadoSolucionado == 0 %}
                                                        <a class="dropdown-item"
                                                           href="javascript:abrirVentana3('{{ path('soporte_soporte_solucion', {'id': arSoporte.codigoSoportePk}) }}', 'SolucionSoporte', 600, 1200)">Solucion</a>
                                                    {% else %}
                                                        <a class="dropdown-item disabled"
                                                           aria-disabled="true">Solucionado</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            {% if arSoporte.estadoSolucionado == 0 %}
                                                <a href="{{ path('soporte_soporte_nuevo', { 'id': arSoporte.codigoSoportePk }) }}">
                                                    <i class="fas fa-pen fa-2x"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('soporte_soporte_detalle', { 'id': arSoporte.codigoSoportePk }) }}">
                                                <i class="fas fa-eye fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="ChkSeleccionar[]"
                                                   value="{{ arSoporte.codigoSoportePk }}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="btn btn-default btn-sm">Registros
                                <span>{{ arSoportes.getTotalItemCount }}</span>
                            </div>
                            <div class="btn-group btn-xs">
                                {{ knp_pagination_render(arSoportes) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
