{% extends 'baseAdmin.html.twig' %}

{% block content %}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('soporte_soporte_lista') }}">Volver <span></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Nuevo</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label">Cliente:</label>
                                    {{ form_widget(form.clienteRel) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Modulo:</label>
                                    {{ form_widget(form.moduloRel) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Contacto:</label>
                                    {{ form_widget(form.contacto) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Teléfono:</label>
                                    {{ form_widget(form.telefono) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Correo:</label>
                                    {{ form_widget(form.correo) }}
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Descripción:</label>
                                    {{ form_widget(form.descripcion) }}
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <section class="card">
                            <div class="card-header title-bg-color">
                                <h5>Clientes suspendidos</h5>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive-sm">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Cliente</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arCliente in arClientesSuspendidos %}
                                            <tr>
                                                <td>{{ arCliente.codigoClientePk }}</td>
                                                <td>{{ arCliente.nombreCorto }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
