{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Informacion</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cliente:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.clienteRel) }}
                        </div>
                        <label class="col-sm-2 control-label">Contacto:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.contacto) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">

                        </div>
                        <label class="col-sm-2 control-label">Telefono:</label>
                        <div class="col-sm-4">
                            {{ form_widget(form.telefono) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripcion:</label>
                        <div class="col-sm-10">
                            {{ form_widget(form.descripcion, { 'attr': {'style':'height: 200px;'} }) }}
                        </div>
                    </div>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <a class="btn btn-default btn-sm" style="float:left" href="{{ path('soporte_soporte_lista') }}">Cancelar</a>
                        </div>
                        <div class="col-sm-6">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary', 'style':'float:right'} }) }}
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <div class="col-md-12">
            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Clientes suspendidos</h2>
                </header>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-bordered table-hover mb-none tabla-datos">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Cliente</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arCliente in arClientesSuspendidos %}
                                <tr>
                                    <td>{{ arCliente.codigoClientePk }}</td>
                                    <td>{{ arCliente.nombreCorto }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>



{% endblock %}
