{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header title-bg-color">
                        <h5>Información</h5>
                    </div>
                    <div class="card-body">
                        {{ form_errors(form) }}
                        <div class="form-group">
                            <label class="control-label">Solución:</label>
                            {{ form_widget(form.solucion) }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}