{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Filtros</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Modulo:</label>
                                        {{ form_widget(form.modulo) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Grupo:</label>
                                        {{ form_widget(form.grupo) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Titulo:</label>
                                        {{ form_widget(form.titulo) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Modelo:</label>
                                        {{ form_widget(form.modelo) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <section class="card">
                            <div class="card-header bg-white">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnImprimir, { 'attr': {'class': 'btnCustom'} }) }}
                                    <a class="btnCustom"
                                       href="javascript:abrirVentana3('{{ path('soporte_documentacion_nuevo', {'id': 0}) }}', 'Solucion', 600, 1200)">Nuevo</a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-datos m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Titulo</th>
                                            <th>Ruta</th>
                                            <th>Modelo</th>
                                            <th>Modulo</th>
                                            <th>Funcion</th>
                                            <th>Grupo</th>
                                            <th>Contenido</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arDocumentacion in arDocumentaciones %}
                                            <tr>
                                                <td>{{ arDocumentacion.codigoDocumentacionPk }}</td>
                                                <td>{{ arDocumentacion.titulo }}</td>
                                                <td>{{ arDocumentacion.ruta }}</td>
                                                <td>{{ arDocumentacion.codigoModeloFk }}</td>
                                                <td>{{ arDocumentacion.codigoModuloFk }}</td>
                                                <td>{{ arDocumentacion.codigoFuncionFk }}</td>
                                                <td>{{ arDocumentacion.codigoGrupoFk }}</td>
                                                <td>{{ arDocumentacion.contenido | striptags | slice(0, 400) }}</td>
                                                <td class="text-center">
                                                    <a href="{{ path('soporte_documentacion_nuevo', { 'id': arDocumentacion.codigoDocumentacionPk }) }}">
                                                        <i class="fas fa-pen fa-2x"></i>
                                                    </a>

                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arDocumentacion.codigoDocumentacionPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between">
                                    <div class="btn btn-default btn-sm">Registros
                                        <span>{{ arDocumentaciones.getTotalItemCount }}</span>
                                    </div>
                                    <div class="btn-group btn-xs">
                                        {{ knp_pagination_render(arDocumentaciones) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
