{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('cliente_caso_lista') }}">Volver</a>
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'caso',  'codigo': arCaso.codigoCasoPk }) }}', 'Archivos', 800, 1250)">
                                <i class="fas fa-upload"></i> Archivos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <tr>
                                            <td class="title-bg-color">CODIGO:</td>
                                            <td class="td-in-well">{{ arCaso.codigoCasoPk }}</td>
                                            <td class=""></td>
                                            <td class="td-in-well"></td>
                                            <td class=""></td>
                                            <td class="td-in-well"></td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">DESCRIPCION:</td>
                                            <td class="td-in-well" colspan="5">{{ arCaso.descripcion }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">ESCALADO:</td>
                                            <td class="td-in-well" colspan="5">{{ arCaso.escalado }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="single-testimonial">
                <nav>
                    <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-respuesta" role="tab" aria-controls="nav-home" aria-selected="true">Respuesta</a>
                        <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-gestion" role="tab" aria-controls="nav-home" aria-selected="true">Gestion</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-respuesta" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="single-testimonial">
                                    <div class="d-flex justify-content-end">
                                        {% if arCaso.estadoCerrado == 0 %}
                                            <a class="btnCustom"
                                               href="javascript:abrirVentana3('{{ path('cliente_caso_respuesta', { 'codigoCaso': arCaso.codigoCasoPk,  'id': 0 }) }}', 'Archivos', 800, 1250)">
                                                nuevo
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive-sm mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Comentario</th>
                                            <th>Usuario</th>
                                            <th class="text-center" title="seleccionar todos">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="ChkSeleccionar"
                                                           onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                                    <label class="custom-control-label" for="ChkSeleccionar"></label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arRespuesta in arRespuestas %}
                                            <tr >
                                                <td>{{ arRespuesta.codigoCasoRespuestaPk }}</td>
                                                <td>{{ arRespuesta.fecha | date('Y-m-d h:i') }}</td>
                                                <td>{{ arRespuesta.comentario }}</td>
                                                <td>{{ arRespuesta.codigoUsuarioFk }}</td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arRespuesta.codigoCasoRespuestaPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="nav-gestion" role="tabpanel"
                         aria-labelledby="nav-home-tab">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive-sm mt-2">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>F_Gestion</th>
                                            <th>Comentario</th>
                                            <th></th>
                                            <th class="text-center" title="seleccionar todos">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                           id="ChkSeleccionar"
                                                           onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                                    <label class="custom-control-label" for="ChkSeleccionar"></label>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arGestion in arGestiones %}
                                            <tr>
                                                <td>{{ arGestion.codigoCasoGestionPk }}</td>
                                                <td>{{ arGestion.fecha | date('Y-m-d h:i') }}</td>
                                                <td>{{ arGestion.fechaGestion | date('Y-m-d h:i') }}</td>
                                                <td>{{ arGestion.comentario }}</td>
                                                <td class="text-center">
                                                    {% if arCaso.estadoCerrado == 0 %}
                                                        <a href="javascript:abrirVentana3('{{ path('soporte_caso_gestion', { 'codigoCaso': arCaso.codigoCasoPk,  'id': arGestion.codigoCasoGestionPk }) }}', 'Archivos', 800, 1250)">
                                                            <i class="fa fa-edit fa-2x"></i>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                                <td class="text-center">
                                                    <input type="checkbox" name="ChkSeleccionar[]"
                                                           value="{{ arGestion.codigoCasoGestionPk }}"/>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
