{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {{ form_errors(form) }}
                <div class="card">
                    <div class="card-header title-bg-color">
                        <h5>Informacion general</h5>
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            <label class="control-label">Fecha inicio:</label>
                            {{ form_widget(form.fechaInicio) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Numero:</label>
                            {{ form_widget(form.numero) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Numero oferta:</label>
                            {{ form_widget(form.numeroOferta) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Modalidad:</label>
                            {{ form_widget(form.modalidadRel) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Representante:</label>
                            {{ form_widget(form.contactoRepresentanteRel) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Valor implementación:</label>
                            {{ form_widget(form.vrImplementacion) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Forma pago:</label>
                            {{ form_widget(form.formaPago) }}
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
