{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header title-bg-color">
                        <h5>Informacion</h5>
                    </div>
                    <div class="card-body">
                        {{ form_errors(form) }}
                        <div class="form-group">
                            <label class="control-label">Fecha inicio:</label>
                            {{ form_widget(form.fechaInicio) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Numero:</label>
                            {{ form_widget(form.numero) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Numero oferta:</label>
                            {{ form_widget(form.numeroOferta) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Representante:</label>
                            {{ form_widget(form.contactoRepresentanteRel) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Valor arrendamiento:</label>
                            {{ form_widget(form.vrArrendamiento) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Valor und electronicos:</label>
                            {{ form_widget(form.vrElectronicoUnidad) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Valor paq electronicos:</label>
                            {{ form_widget(form.vrElectronico) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Max electronicos:</label>
                            {{ form_widget(form.numeroElectronicos) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Max usuarios:</label>
                            {{ form_widget(form.numeroUsuarios) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Max empleados:</label>
                            {{ form_widget(form.numeroEmpleados) }}
                        </div>
                        <div class="form-group">
                            <label class="control-label">Max guias:</label>
                            {{ form_widget(form.numeroGuias) }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
