{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('admin_cliente_lista') }}">Volver <span></span></a>
{#                            {% if arTarea.estadoTerminado == 1 and arTarea.estadoVerificado == 0 %}#}
{#                                <a class="btnCustom"#}
{#                                   href="javascript:abrirVentana3('{{ path('admin_tarea_devolucion', {'codigoTarea': arTarea.codigoTareaPk, 'id': 0}) }}', 'TareaDevolucion', 600, 1200)">Devolucion</a>#}
{#                            {% endif %}#}
{#                            {{ form_widget(form.btnVerificar, { 'attr': {'class': 'btnCustom'} }) }}#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <tr>
                                    <td class="title-bg-color">CODIGO:</td>
                                    <td class="td-in-well">{{ arCliente.codigoClientePk }}</td>
                                    <td class="title-bg-color">NOMBRE:</td>
                                    <td class="td-in-well">{{ arCliente.nombreCorto }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">NÚMERO IDENTIFICACIÓN: </td>
                                    <td class="td-in-well">{{ arCliente.nit }}</td>
                                    <td class="title-bg-color">DIGITO VERIFICACIÓN: </td>
                                    <td class="td-in-well">{{ arCliente.digitoVerificacion }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">TELÉFONO:</td>
                                    <td class="td-in-well">{{ arCliente.telefono }}</td>
                                    <td class="title-bg-color">DIRECCIÓN:</td>
                                    <td class="td-in-well">{{ arCliente.direccion }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">FACTURA ELECTRONICA:</td>
                                    <td class="td-in-well">{{ arCliente.facturacionElectronica ? "SI" : "NO"}}</td>
                                    <td class="title-bg-color">NOMINA ELECTRONICA: </td>
                                    <td class="td-in-well">{{ arCliente.nominaElectronica  ? "SI" : "NO" }}</td>
                                    <td class="title-bg-color">SERVICIO SOPORTE: </td>
                                    <td class="td-in-well">{{ arCliente.servicioSoporte  ? "SI" : "NO" }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SUSCRIPTOR:</td>
                                    <td class="td-in-well">{{ arCliente.suscriptor}}</td>
                                    <td class="title-bg-color">EMPLEADOR: </td>
                                    <td class="td-in-well">{{ arCliente.empleador }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
{#            <div class="row mt-2">#}
{#                <div class="col-md-12">#}
{#                    <div class="single-testimonial py-0">#}
{#                        <section class="card">#}
{#                            <div class="card-header title-bg-color">#}
{#                                <h5>Devoluciones</h5>#}
{#                            </div>#}
{#                            <div class="card-body p-0">#}
{#                                <div class="table-responsive">#}
{#                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">#}
{#                                        <thead>#}
{#                                        <tr>#}
{#                                            <th>Id</th>#}
{#                                            <th>Fecha</th>#}
{#                                            <th>Motivo</th>#}
{#                                            <th>Descripcion</th>#}
{#                                        </tr>#}
{#                                        </thead>#}
{#                                        <tbody>#}
{#                                        {% for arDevolucion in arDevoluciones %}#}
{#                                            <tr>#}
{#                                                <td>{{ arDevolucion.codigoDevolucionPk }}</td>#}
{#                                                <td>{{ arDevolucion.fecha | date('Y-m-d H:i') }}</td>#}
{#                                                <td>{{ arDevolucion.devolucionTipoRel.nombre }}</td>#}
{#                                                <td>{{ arDevolucion.descripcion }}</td>#}
{#                                            </tr>#}
{#                                        {% endfor %}#}
{#                                        </tbody>#}
{#                                    </table>#}
{#                                </div>#}
{#                            </div>#}
{#                        </section>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
