{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('admin_cliente_lista') }}">Volver <span></span></a>
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'cliente',  'codigo': arCliente.codigoClientePk }) }}', 'Archivos', 800, 1250)">
                                <i class="fas fa-upload"></i> Archivos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <tr>
                                    <td class="title-bg-color">CODIGO:</td>
                                    <td class="td-in-well">{{ arCliente.codigoClientePk }}</td>
                                    <td class="title-bg-color">NOMBRE:</td>
                                    <td class="td-in-well">{{ arCliente.nombreCorto }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">NÚMERO IDENTIFICACIÓN: </td>
                                    <td class="td-in-well">{{ arCliente.nit }}</td>
                                    <td class="title-bg-color">DIGITO VERIFICACIÓN: </td>
                                    <td class="td-in-well">{{ arCliente.digitoVerificacion }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">TELÉFONO:</td>
                                    <td class="td-in-well">{{ arCliente.telefono }}</td>
                                    <td class="title-bg-color">DIRECCIÓN:</td>
                                    <td class="td-in-well">{{ arCliente.direccion }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">FACTURA ELECTRONICA:</td>
                                    <td class="td-in-well">{{ arCliente.facturacionElectronica ? "SI" : "NO"}}</td>
                                    <td class="title-bg-color">NOMINA ELECTRONICA: </td>
                                    <td class="td-in-well">{{ arCliente.nominaElectronica  ? "SI" : "NO" }}</td>
                                    <td class="title-bg-color">SERVICIO SOPORTE: </td>
                                    <td class="td-in-well">{{ arCliente.servicioSoporte  ? "SI" : "NO" }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SUSCRIPTOR:</td>
                                    <td class="td-in-well">{{ arCliente.suscriptor}}</td>
                                    <td class="title-bg-color">EMPLEADOR: </td>
                                    <td class="td-in-well">{{ arCliente.empleador }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <div class="table-responsive-sm">
                            <table class="table table-condensed table-bordered tabla-administracion">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Fecha</th>
                                    <th>Nombre</th>
                                    <th title="Tamaño">MB</th>
                                    <th>Tipo</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arContacto in arContactos %}
                                    <tr>
                                        <td>{{ arArchivo.codigoArchivoPk }}</td>
                                        <td>{{ arArchivo.fecha | date('Y-m-d H:i') }}</td>
                                        <td>{{ arArchivo.nombre }}</td>
                                        <td>{{ arArchivo.tamano | number_format(2) }}</td>
                                        <td>{{ arArchivo.tipo }}</td>
                                        <td>
                                            <button class="fa fa-download" type="submit" name="OpDescargar"
                                                    value="{{ arArchivo.codigoArchivoPk }}"></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
