{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('admin_cliente_lista') }}">Volver <span></span></a>
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('utilidad_archivo_lista', { 'tipo': 'cliente',  'codigo': arCliente.codigoClientePk }) }}', 'Archivos', 800, 1250)">
                                <i class="fas fa-upload"></i> Archivos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <tr>
                                    <td class="title-bg-color">CODIGO:</td>
                                    <td class="td-in-well">{{ arCliente.codigoClientePk }}</td>
                                    <td class="title-bg-color">NOMBRE:</td>
                                    <td class="td-in-well">{{ arCliente.nombreCorto }}</td>
                                    <td class="title-bg-color">FACTURA ELECTRONICA:</td>
                                    <td class="td-in-well">{{ arCliente.facturacionElectronica ? "SI" : "NO" }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">NÚMERO IDENTIFICACIÓN:</td>
                                    <td class="td-in-well">{{ arCliente.nit }}</td>
                                    <td class="title-bg-color">DIGITO VERIFICACIÓN:</td>
                                    <td class="td-in-well">{{ arCliente.digitoVerificacion }}</td>
                                    <td class="title-bg-color">NOMINA ELECTRONICA:</td>
                                    <td class="td-in-well">{{ arCliente.nominaElectronica  ? "SI" : "NO" }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">TELÉFONO:</td>
                                    <td class="td-in-well">{{ arCliente.telefono }}</td>
                                    <td class="title-bg-color">DIRECCIÓN:</td>
                                    <td class="td-in-well">{{ arCliente.direccion }}</td>
                                    <td class="title-bg-color">SERVICIO SOPORTE:</td>
                                    <td class="td-in-well">{{ arCliente.servicioSoporte  ? "SI" : "NO" }}</td>
                                </tr>
                                <tr>
                                    <td class="title-bg-color">SUSCRIPTOR:</td>
                                    <td class="td-in-well">{{ arCliente.suscriptor }}</td>
                                    <td class="title-bg-color">EMPLEADOR:</td>
                                    <td class="td-in-well">{{ arCliente.empleador }}</td>
                                    <td class="title-bg-color"></td>
                                    <td></td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12">
                    <div class="single-testimonial">
                        <nav>
                            <div class="nav nav-tabs mt-3" id="nav-tab" role="tablist">
                                <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-contrato" role="tab" aria-controls="nav-home" aria-selected="true">Contrato</a>
                                <a class="nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-contacto" role="tab" aria-controls="nav-home" aria-selected="true">Contacto</a>

                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-contrato" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="my-2">
                                    <div class="d-flex justify-content-end">
                                        <a class="btnCustom"
                                           href="javascript:abrirVentana3('{{ path('admin_cliente_contrato_nuevo', { 'codigoClinete': arCliente.codigoClientePk, 'id': 0  }) }}', 'Archivos', 800, 1250)">
                                            Nuevo
                                        </a>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered tabla-administracion">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>F_Inicio</th>
                                                <th>Numero</th>
                                                <th>N_Oferta</th>
                                                <th>Representante</th>
                                                <th>Valor</th>
                                                <th>Vr_ELE</th>
                                                <th>Vr_ELE_UND</th>
                                                <th>ELE</th>
                                                <th>USU</th>
                                                <th>EMP</th>
                                                <th>GUI</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for arContrato in arContratos %}
                                                <tr>
                                                    <td>{{ arContrato.codigoContratoPk }}</td>
                                                    <td>{{ arContrato.fechaInicio | date('Y-m-d') }}</td>
                                                    <td>{{ arContrato.numero }}</td>
                                                    <td>{{ arContrato.numeroOferta }}</td>
                                                    <td>{{ arContrato.contactoRepresentanteNombre }}</td>
                                                    <td>{{ arContrato.vrArrendamiento | number_format }}</td>
                                                    <td>{{ arContrato.vrElectronico | number_format }}</td>
                                                    <td>{{ arContrato.vrElectronicoUnidad | number_format }}</td>
                                                    <td>{{ arContrato.numeroElectronicos | number_format }}</td>
                                                    <td>{{ arContrato.numeroUsuarios | number_format }}</td>
                                                    <td>{{ arContrato.numeroEmpleados | number_format }}</td>
                                                    <td>{{ arContrato.numeroGuias | number_format }}</td>
                                                    <td>
                                                        <button type="submit" name="OpImprimir" value="{{ arContrato.codigoContratoPk }}">Imprimir</button>
                                                    </td>
                                                    <td class="text-center">
                                                        <a href="javascript:abrirVentana3('{{ path('admin_cliente_contrato_nuevo', { 'codigoClinete': arCliente.codigoClientePk, 'id': arContrato.codigoContratoPk  }) }}', 'Archivos', 800, 1250)">
                                                            <i class="fa fa-edit fa-2x"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="ChkSeleccionar[]"
                                                               value="{{ arContrato.codigoContratoPk }}"/>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade show" id="nav-contacto" role="tabpanel"
                                 aria-labelledby="nav-home-tab">
                                <div class="my-2">
                                    <div class="d-flex justify-content-end">
                                        {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btnCustomDanger'} }) }}
                                        <a class="btnCustom"
                                           href="javascript:abrirVentana3('{{ path('admin_cliente_contacto_nuevo', { 'codigoClinete': arCliente.codigoClientePk, 'id': 0  }) }}', 'Archivos', 800, 1250)">
                                            Nuevo
                                        </a>
                                    </div>
                                </div>
                                <div class="my-2">
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered tabla-administracion">
                                            <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Cargo</th>
                                                <th>Correo</th>
                                                <th>Teléfono</th>
                                                <th>Contacto</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for arContacto in arContactos %}
                                                <tr>
                                                    <td>{{ arContacto.codigoContactoPk }}</td>
                                                    <td>{{ arContacto.nombre }}</td>
                                                    <td>{{ arContacto.cargo }}</td>
                                                    <td>{{ arContacto.correo }}</td>
                                                    <td>{{ arContacto.telefono }}</td>
                                                    <td>{{ arContacto.contactoTipo }}</td>
                                                    <td class="text-center">
                                                        <a href="javascript:abrirVentana3('{{ path('admin_cliente_contacto_nuevo', { 'codigoClinete': arCliente.codigoClientePk, 'id': arContacto.codigoContactoPk  }) }}', 'Archivos', 800, 1250)">
                                                            <i class="fa fa-edit fa-2x"></i>
                                                        </a>
                                                    </td>
                                                    <td class="text-center">
                                                        <input type="checkbox" name="ChkSeleccionar[]"
                                                               value="{{ arContacto.codigoContactoPk }}"/>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_end(form) }}
{% endblock %}
