<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <style>
        @page {
            margin: 100px 80px;
        }

        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            text-align: justify;
            font-size: 12px;
            padding: 5px;
        }

        ul {
            text-align: justify;
            font-size: 12px;
        }

        table {
            font-size: 12px;
        }

        h5 {
            text-align: justify;
        }

        header {
            position: fixed;
            top: -60px;
            left: 0px;
            right: 0px;
            height: 50px;
        }

        img {
            width: 150px;
            height: 50px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr, td {
            width: 50% !important;
        }
    </style>
</head>
<header>
    <img src="{{ absolute_url(asset('imagenes/logoSemantica3.jpg')) }}"/>
</header>
<main>
    {% set proveedor = 'EL PROVEEDOR' %}
    {% set cliente = 'EL CLIENTE' %}
    <h5>CONTRATO DE IMPLEMENTACIÓN SOFTWARE DENOMINADO SEMÁNTICA ERP NRO. {{ arContrato.numero }}</h5>
    <p>Entre los suscritos a saber: SEMÁNTICA DIGITAL S.A.S, sociedad comercial legalmente constituida,
        identificada con Nit. 901.192.048-4, constituida por documento privado del 21 de junio de 2018,
        registrada en la Cámara de Comercio de Medellín con matrícula mercantil No. 21-619976-12 en el libro 9,
        bajo el número 289, representada legalmente en este acto por MARIO ANDRÉS ESTRADA ZULUAGA,
        mayor de edad, vecino y domiciliado en calle 34 N 66A-33 Oficina 201 Medellin (Antioquia-Colombia), identificado
        con la cédula de ciudadanía 70,143,086 quien en adelante se denominará {{ proveedor }}, de una parte, y de la
        otra {{ arContrato.clienteNombreExtendido }} con Nit. {{ arContrato.clienteNit }}
        representada legalmente en este acto por {{ arContrato.representanteNombre }},
        identificado con la cédula de ciudadanía Nro. {{ arContrato.representanteNumeroIdentificacion | number_format }}
        de {{ arContrato.representanteCiudadIdentificacion }},
        domiciliado en {{ arContrato.representanteDireccion }} {{ arContrato.representanteCiudad }},
        quien para efectos del presente contrato se denominará {{ cliente }}, se ha celebrado el contrato
        de servicios indicado en líneas anteriores, el cual se regirá por las siguientes cláusulas: </p>

    <p><b>CLÁUSULA PRIMERA: OBJETO.</b> {{ proveedor }} se compromete a acompañar {{ cliente }} en el
        proceso de implementación del software "Semántica ERP". </p>

    <p><b>CLÁUSULA SEGUNDA: CARACTERÍSTICAS A IMPLEMENTAR.</b> {{ proveedor }} entregará a {{ cliente }} los siguientes módulos del
        software "Semántica ERP" en funcionamiento: </p>
    <ul>
        {% for arrContratoModulo in arrContratosModulos %}
            <li>{{ arrContratoModulo.moduloNombre }}</li>
        {% endfor %}
    </ul>
    <p>{{ cliente }} declara tener una licencia activa y vigente concedida directamente por la casa fabricante o algún canal
        de distribución del software "Semántica ERP".</p>
    <p>{{ cliente }} declara tener el personal capacitado en los procesos de las características a implementar.</p>
    <p>{{ cliente }} declara conocer los requisitos técnicos de bases de datos maestras y configuración.</p>

    <p><b>CLÁUSULA TERCERA: CONDICIONES GENERALES DEL SERVICIO.</b> Los servicios se prestarán en los siguientes
        términos y condiciones generales:</p>
    <ul>
        <li>Modalidad: {{ arContrato.modalidadNombre }}</li>
        <li>{{ proveedor }} responderá por la calidad del trabajo desarrollado con la diligencia exigible a una empresa
            experta en la realización de los trabajos objeto del contrato.
        </li>
        <li>Ambas partes responderán de las infracciones en que pudiera incurrir en el caso que destinen los datos
            personales a otra finalidad, los comuniquen a un tercero, o en general, los utilicen de forma irregular.
        </li>
    </ul>

    <p><b>CLÁUSULA CUARTA: CONDICIONES ESPECÍFICAS DE LA PRESTACIÓN DEL SERVICIO.</b> {{ proveedor }} prestará los
        servicios en los siguientes términos y condiciones específicos:</p>
    <ul>
        <li>{{ proveedor }} dispondrá de un gerente de proyectos que liderara el proceso y sera el canal de comunicación
        directo.</li>
        <li>{{ proveedor }} asignará personal encargado de implementar las características de la CLÁUSULA SEGUNDA. Proceso
            que incluye capacitación certificada por acuse de recibo y aprobación del cliente, asesoría,
            consultoría y orientación hasta que la funcionalidad inicie la fase de producción.</li>
        <li>{{ proveedor }} debe garantizar una plataforma desde donde se haga seguimiento al proceso de implementación.</li>
        <li>En la modalidad MIXTA se realiza la etapa 1: Información de bases de datos maestras, configuración y
            características iniciales de forma VIRTUAL y para la etapa 2: funcionalidad y movimientos se realiza de forma
            PRESENCIAL.</li>

    </ul>

    <p><b>CLÁUSULA QUINTA: LIMITACIONES DEL SERVICIO.</b> {{ cliente }} declara conocer y aceptar
        las siguientes limitaciones del servicio:</p>
    <ul>
        <li>El personal de {{ proveedor }} no esta autorizado para suministrar datos al software.</li>
        <li>El personal de {{ proveedor }} no coordina el personal de {{ cliente }} (Actividades o agenda)</li>
    </ul>

    <p><b>CLÁUSULA SEXTA: OBLIGACIONES DE {{ cliente }}.</b></p>
    <ul>
        <li>Nombrar un líder encargado de la implementación del lado de {{ cliente }}</li>
        <li>Coordinar las actividades y personal de {{ cliente }} para recibir las capacitaciones, asesorías y consultoría </li>
        <li>Cancelar el valor total del precio en la fecha y en las condiciones acordadas</li>
        <li>Exonerar en cualquier caso, {{ proveedor }} de toda responsabilidad derivada de los daños o perjuicios
            que pueda sufrir {{ cliente }} como consecuencia directa o indirecta del uso inadecuado que se haga del
            software.
        </li>
        <li>Garantizar la información de bases de datos maestras y configuración para cumplir con los requisitos de implementación.</li>
        <li>Cubrir los gastos de desplazamiento para cualquier session en las oficinas o sucursales
        fuera del area metropolitana de Medellin - Antioquia - Colombia</li>
    </ul>

    <p><b>CLÁUSULA SÉPTIMA: CLAUSULA DE CONFIDENCIALIDAD.</b> {{ proveedor }} se obliga a no divulgar, entregar y/o hacer
        uso en beneficio propio o de
        alguna otra persona natural o jurídica, de la información adquirida acerca de {{ cliente }}, incluyendo
        conocimiento sobre las actividades, planes, programas, productos y documentos a que hubiere tenido acceso
        y a mantener el más alto grado de confidencialidad en relación con esta información.
        Esta información no podrá ser revelada a terceros bajo ninguna circunstancia, sin que medie autorización escrita
        de {{ cliente }}, a menos que dicha información sea de público conocimiento en el momento de ser revelada o
        que la parte receptora la hubiera conocido por un tercero de buena fe, con derecho de disposición sobre esa información.
        En caso de que {{ proveedor }} sea requerido a dar esa información
        por orden de autoridad competente, éste notificará inmediatamente a {{ cliente }} de tal situación.
        La información confidencial incluye, pero no se limita a: 1) Información técnica, jurídica y financiera de {{ cliente }}.
        2.) Políticas y estrategias empresariales. 3.) Metodologías y procesos, 4.) Planes de productos y servicios, 5.)
        Información de precios,
        6.) Información de mercadeo, análisis y proyecciones. 7.) Secretos empresariales, 8.) Knowhow. 9.) Frecuencias
        utilizadas por {{ cliente }}.
        10.) Nombres y datos de {{ cliente }}.
    </p>
    <p>{{ proveedor }} se compromete y obliga a que durante toda la vigencia del contrato y hasta un tiempo de diez (10)
        años posteriores a su terminación, no comunicará a terceros ni usará en su provecho o en el de terceros las
        informaciones que por razón de su encargo haya podido conocer, las cuales son estrictamente de naturaleza
        reservada y cuya divulgación puede ocasionar perjuicios a {{ cliente }}.</p>

    <p><b>CLÁUSULA OCTAVA: ACUERDO DE NIVEL DE SERVICIO.</b> El Servicio prestado por {{ proveedor }} se
        realizará por personal especializado en cada materia.
        El personal de {{ proveedor }} acudirá provisto de todo el material necesario según la modalidad y característica
        a implementar, adecuado y actualizado para prestar el servicio.</p>

    <p><b>CLÁUSULA NOVENA: VIGENCIA Y DURACIÓN.</b> La validez de este contrato está regulada por la legislación
        vigente y su término de duración es de (3) meses contados a partir de {{ arContrato.fechaInicio | date('Y-m-d') }}
        salvo que cualquiera de las partes de forma expresa hiciere constar lo contrario.</p>

    <p><b>CLÁUSULA DÉCIMA: PRECIO Y FACTURACIÓN.</b> {{ cliente }} pagará a {{ proveedor }} {{ arContrato.valorLetrasImplementacion }}
        (${{ arContrato.vrImplementacion | number_format }}) más impuestos de ley por concepto de implementación.</p>
    <ul>
        <li><b>PARÁGRAFO PRIMERO:</b> La facturación se realizará de forma anticipada y será presentada a {{ cliente }}
            a la firma del contrato.
        </li>
        <li><b>PARÁGRAFO SEGUNDO:</b> El pago de la factura se hará mediante transferencia bancaria a la cuenta de
            ahorros N 551-956141-04 de Bancolombia a nombre de SEMÁNTICA DIGITAL S.A.S.
        </li>
        <li><b>PARÁGRAFO TERCERO:</b> La oferta comercial {{ arContrato.numeroOferta }} hace parte integral del contrato
            y tiene efecto sobre la forma de pago.
        </li>
    </ul>

    <p><b>CLÁUSULA DÉCIMA PRIMERA: MODIFICACIÓN.</b> Las Partes podrán modificar el contrato de mutuo acuerdo y por
        escrito.</p>

    <p><b>CLÁUSULA DÉCIMA SEGUNDA: RESOLUCIÓN.</b> Las Partes podrán resolver el Contrato, con derecho a la indemnización
        de daños y perjuicios causados, en caso de incumplimiento de las obligaciones establecidas en el mismo.</p>

    <p><b>CLÁUSULA DÉCIMA TERCERA: REGIMEN JURÍDICO.</b> El presente contrato tiene carácter mercantil, no existiendo
        en ningún caso vínculo laboral alguno entre {{ cliente }} y el personal de {{ proveedor }} que preste
        concretamente los servicios.</p>

    <p><b>CLÁUSULA DÉCIMA CUARTA:</b> Las partes manifiestan que aceptan libremente todas y cada una las cláusulas
        contenidas en el presente CONTRATO DE IMPLEMENTACIÓN SOFTWARE DENOMINADO SEMÁNTICA ERP, y que este contrato
        deje sin efectos los que se hayan suscrito previamente las partes y por el mismo objeto. </p>

    <p><b>En señal de conformidad se firma el presente documento en dos ejemplares, el
            día {{ arContrato.fechaInicio | date('Y-m-d') }}.</b></p>
<br/><br/><br/>
    <table>
        <tr>
            <td><b>MARIO ANDRÉS ESTRADA ZULUAGA</b></td>
            <td><b>{{ arContrato.representanteNombre }}</b></td>
        </tr>
        <tr>
            <td>C.C. 70,143,086</td>
            <td>C.C. {{ arContrato.representanteNumeroIdentificacion | number_format }}</td>
        </tr>
        <tr>
            <td>Representante Legal</td>
            <td>Representante Legal</td>
        </tr>
        <tr>
            <td><b>SEMANTICA DIGITAL S.A.S</b></td>
            <td><b>{{ arContrato.clienteNombreExtendido }}</b></td>
        </tr>
        <tr>
            <td>Nit. 901192048-4</td>
            <td>Nit. {{ arContrato.clienteNit }}-{{ arContrato.clienteDigitoVerificacion }}</td>
        </tr>
        <tr>
            <td>{{ proveedor }}</td>
            <td>{{ cliente }}</td>
        </tr>
    </table>

</main>
<br>
<script type="text/php">
    if (isset($pdf)) {
        $pdf->page_script('
            $text = sprintf(_("Página %d/%d"),  $PAGE_NUM, $PAGE_COUNT);
            $font = null;
            $size = 9;
            $color = array(0,0,0);
            $word_space = 0.0;  //  default
            $char_space = 0.0;  //  default
            $angle = 0.0;   //  default

            // Compute text width to center correctly
            $textWidth = $fontMetrics->getTextWidth($text, $font, $size);

            $x = ($pdf->get_width() - $textWidth) / 2;
            $y = $pdf->get_height() - 35;

            $pdf->text($x, $y, $text, $font, $size, $color, $word_space, $char_space, $angle);
        '); // End of page_script
    }
</script>
</body>
</html>
