{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-end">
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('operacion_electronica_nuevo', {'id': '0'}) }}', 'Nuevo', 600, 1200)">
                                Nuevo
                            </a>
                        </div>
                        <div class="table-responsive mt-2 ">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Nit</th>
                                    <th>Suscriptor</th>
                                    <th>Estado</th>
                                    <th>Set</th>
                                    <th>Ciudad</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arrSuscriptor in arrSuscriptores %}
                                    <tr>
                                        <td>{{ arrSuscriptor.Suscriptor }}</td>
                                        <td>{{ arrSuscriptor.Documento }}</td>
                                        <td>{{ arrSuscriptor.RazonSocial }}</td>
                                        <td>{{ arrSuscriptor.EstadoDescripcion }}</td>
                                        <td>{{ arrSuscriptor.TestSetIdDian }}</td>
                                        <td>{{ arrSuscriptor.NombreCiudad }}</td>
                                        <td>
                                            <a href="javascript:abrirVentana3('{{ path('operacion_electronica_editar', {'id': arrSuscriptor.Suscriptor}) }}', 'Escalar', 600, 1200)">
                                                <i class="fa fa-arrow-up fa-lg"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="table-responsive">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Suscriptor</th>
                                    <th>Empleador</th>
                                    <th>SP</th>
                                    <th>SPN</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arCliente in arClientes %}
                                    <tr>
                                        <td>{{ arCliente.codigoClientePk }}</td>
                                        <td>{{ arCliente.nombreCorto }}</td>
                                        <td>{{ arCliente.suscriptor }}</td>
                                        <td>{{ arCliente.empleador }}</td>
                                        <td class="text-center text-success">
                                            {% if arCliente.facturacionElectronica == 1 %}
                                                {% if arCliente.setPruebas == 1 %}
                                                    SI
                                                {% else %}
                                                    <button class="btnCustom btn-xs" type="submit"
                                                            name="OpEnviar"
                                                            value="{{ arCliente.codigoClientePk }}">Enviar
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td class="text-center text-success">
                                            {% if arCliente.nominaElectronica == 1 %}
                                                {% if arCliente.setPruebasNomina == 1 %}
                                                    SI
                                                {% else %}
                                                    <button class="btnCustom btn-xs" type="submit"
                                                            name="OpEnviarNomina"
                                                            value="{{ arCliente.codigoClientePk }}">Enviar
                                                    </button>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
