{% extends 'base.html.twig' %}
{% block content %}
    {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="btn-toolbar" style="float:left">
        <div class="btn-group">
            <a class="btn btn-default btn-sm" href="{{ path('admin_proyecto_lista') }}">Volver</a>
        </div>
    </div>
    <br/><br/>
    <table width="100%" class="table table-condensed table-bordered tabla-datos">
        <tr>
            <td class="titulo">CODIGO:</td>
            <td class="td-in-well">{{ arProyecto.codigoProyectoPk }}</td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
            <td class="titulo"></td>
            <td class="td-in-well"></td>
        </tr>
        <tr>
            <td class="titulo">NOMBRE:</td>
            <td class="td-in-well" colspan="5">{{ arProyecto.nombre }}</td>
        </tr>
    </table>

    <div class="row">
        <div class="col-md-12">
            <div class="tabs tabs-primary">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tareas" data-toggle="tab"><i class="fa fa-star"></i> Tareas</a></li>
                    <li><a href="#otro" data-toggle="tab"> Otro</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tareas" class="tab-pane active">
                        <table class="table table-condensed table-bordered table-hover mb-none">
                            <thead>
                            <tr>
                                <th>Id</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arTarea in arTareas %}
                                <tr>
                                    <td>{{ arTarea.codigoTareaPk }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="otro" class="tab-pane">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
