{% extends 'base.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <section class="card">
                            {#                            <div class="card-header bg-white"> #}
                            {#                                <div class="d-flex justify-content-end"> #}
                            {#                                    <a class="btnCustom" href="{{ path('soporte_soporte_nuevo', {'id': 0}) }}">Nuevo</a> #}
                            {#                                </div> #}
                            {#                            </div> #}
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-datos m-0">
                                        <thead class="title-bg-color">
                                        <tr>
                                            <th>Id</th>
                                            <th>Nit</th>
                                            <th>DV</th>
                                            <th>Nombre</th>
                                            <th>Sop</th>
                                            <th>FE</th>
                                            <th>Suscriptor</th>
                                            <th>NE</th>
                                            <th>Empleador</th>
                                            <th>SP_F</th>
                                            <th>SP_N</th>
                                            <th>TestID_F</th>
                                            <th>TestID_N</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arCliente in arClientes %}
                                            <tr>
                                                <td>{{ arCliente.codigoClientePk }}</td>
                                                <td>{{ arCliente.nit }}</td>
                                                <td>{{ arCliente.digitoVerificacion }}</td>
                                                <td>{{ arCliente.nombreCorto }}</td>
                                                <td class="text-center">{{ arCliente.servicioSoporte ? "SI" : arCliente.fechaSuspension ? arCliente.fechaSuspension | date('Y-m-d') : "NO" }}</td>
                                                <td class="text-center">{{ arCliente.facturacionElectronica ? "SI": "NO" }}</td>
                                                <td>{{ arCliente.suscriptor }}</td>
                                                <td class="text-center">{{ arCliente.nominaElectronica ? "SI": "NO" }}</td>
                                                <td>{{ arCliente.empleador }}</td>
                                                <td class="text-center">{{ arCliente.setPruebas ? "SI": "NO" }}</td>
                                                <td class="text-center">{{ arCliente.setPruebasNomina  ? "SI": "NO" }}</td>
                                                <td>{{ arCliente.codigoSetPruebas }}</td>
                                                <td>{{ arCliente.codigoSetPruebasNominas }}</td>
                                                <td class="text-center">
                                                    <a href="{{ path('soporte_cliente_nuevo', { 'id': arCliente.codigoClientePk }) }}">
                                                        <i class="fas fa-pen fa-2x"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer bg-white">
                                <div class="d-flex justify-content-between">
                                    <div class="btn btn-default btn-sm">Registros
                                        <span>{{ arClientes.getTotalItemCount }}</span>
                                    </div>
                                    <div class="btn-group btn-xs">
                                        {{ knp_pagination_render(arClientes) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
