{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('operacion_implementacion_lista') }}">Volver</a>
                            {{ form_widget(form.btnImprimirActaTerminacion, { 'attr': {'class': 'btnCustom'} }) }}
                            {{ form_widget(form.btnImprimirPlanTrabajo, { 'attr': {'class': 'btnCustom'} }) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive-sm">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                        <tr>
                                            <td class="title-bg-color">CODIGO:</td>
                                            <td class="td-in-well">{{ arImplementacion.codigoImplementacionPk }}</td>
                                            <td class="title-bg-color">NOMBRE:</td>
                                            <td class="td-in-well">{{ arImplementacion.nombre }}</td>
                                            <td class="title-bg-color">CLIENTE</td>
                                            <td class="td-in-well">{{ arImplementacion.clienteRel.nombreCorto }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <section class="card">
                            <div class="card-header title-bg-color">
                                <h5>Filtros</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Modulo:</label>
                                        {{ form_widget(form.modulo) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Capacitado:</label>
                                        {{ form_widget(form.estadoCapacitado) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Terminado:</label>
                                        {{ form_widget(form.estadoTerminado) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-end">
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('operacion_implementacion_detalle_nuevo_funcionalidad', {'id': arImplementacion.codigoImplementacionPk }) }}', 'Nuevo funcionalidad', 600, 1200)">Nueva funcionalidad</a>
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('operacion_implementacion_detalle_nuevo_requisito', {'id': arImplementacion.codigoImplementacionPk }) }}', 'Nuevo requisito', 600, 1200)">Nuevo requisito</a>
                            {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btnCustomDanger'} }) }}
                        </div>
                        <div class="table-responsive-sm mt-2">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Modulo</th>
                                    <th>Cod</th>
                                    <th>Requisito</th>
                                    <th>Cod</th>
                                    <th>Funcionalidad</th>
                                    <th>Comentario</th>
                                    <th>Com_Implementador</th>
                                    <th>ET</th>
                                    <th class="text-center" title="seleccionar todos"><input type="checkbox"
                                                                                             name="ChkSeleccionarTodos"
                                                                                             onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arImplementacionDetalle in arImplementacionDetalles %}
                                    <tr>
                                        <td>{{ arImplementacionDetalle.codigoImplementacionDetallePk }}</td>
                                        <td>{{ arImplementacionDetalle.codigoModuloFk }}</td>
                                        <td>{{ arImplementacionDetalle.codigoRequisitoFk }}</td>
                                        <td>{{ arImplementacionDetalle.requisitoNombre }}</td>
                                        <td>{{ arImplementacionDetalle.codigoFuncionalidadFk }}</td>
                                        <td>{{ arImplementacionDetalle.funcionalidadNombre }}</td>
                                        <td>{{ arImplementacionDetalle.comentario }}</td>
                                        <td>{{ arImplementacionDetalle.comentarioImplementador }}</td>
                                        <td>{{ arImplementacionDetalle.estadoTerminado?'SI':'NO' }}</td>
                                        <td class="text-center">
                                            <input type="checkbox" name="ChkSeleccionar[]"
                                                   value="{{ arImplementacionDetalle.codigoImplementacionDetallePk }}"
                                                   title="seleccionar"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
