{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-testimonial">
                    <div class="d-flex justify-content-end">
                        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btnCustom'} }) }}
                    </div>
                    <div class="table-responsive-sm mt-2">
                        <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                            <thead class="title-bg-color">
                            <tr>
                                <th>Id</th>
                                <th>Modulo</th>
                                <th>Funcionalidad</th>
                                <th class="text-center" title="seleccionar todos"><input type="checkbox"
                                                                                         name="ChkSeleccionarTodos"
                                                                                         onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arFuncionalidad in arFuncionalidades %}
                                <tr>
                                    <td>{{ arFuncionalidad.codigoFuncionalidadPk }}</td>
                                    <td>{{ arFuncionalidad.codigoModuloFk }}</td>
                                    <td>{{ arFuncionalidad.nombre }}</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="ChkSeleccionar[]"
                                               value="{{ arFuncionalidad.codigoFuncionalidadPk }}"
                                               title="seleccionar tema"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}