{% extends 'base_sin_menu.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-testimonial">
                    <div class="card">
                        <div class="card-header title-bg-color">
                            <h5>Filtros</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Modulo:</label>
                                    {{ form_widget(form.moduloRel) }}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputEmail4">Función</label>
                                    {{ form_widget(form.codigoFuncionFk) }}
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4"></label>

                                </div>

                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-end">
                                {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-testimonial">
                    <div class="d-flex justify-content-end">
                        {{ form_widget(form.btnGuardar, { 'attr': {'class': 'btnCustom'} }) }}
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                            <thead class="title-bg-color">
                            <tr>
                                <th>Id</th>
                                <th>Modulo</th>
                                <th>Funcionalidad</th>
                                <th>Funcion</th>
                                <th class="text-center" title="seleccionar todos"><input type="checkbox"
                                                                                         name="ChkSeleccionarTodos"
                                                                                         onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for arFuncionalidad in arFuncionalidades %}
                                <tr>
                                    <td>{{ arFuncionalidad.codigoFuncionalidadPk }}</td>
                                    <td>{{ arFuncionalidad.codigoModuloFk }}</td>
                                    <td>{{ arFuncionalidad.nombre }}</td>
                                    <td>{{ arFuncionalidad.codigoFuncionFk }}</td>
                                    <td class="text-center">
                                        <input type="checkbox" name="ChkSeleccionar[]"
                                               value="{{ arFuncionalidad.codigoFuncionalidadPk }}"
                                               title="seleccionar tema"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}