{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <section class="services-section">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Filtros</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Cliente:</label>
                                        {{ form_widget(form.clienteRel) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Terminado:</label>
                                        {{ form_widget(form.estadoTerminado) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-end">
                            <a class="btnCustom"
                               href="javascript:abrirVentana3('{{ path('operacion_implementacion_nuevo', {'id': '0'}) }}', 'Nuevo', 600, 1200)">
                                Nuevo
                            </a>
                            {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btnCustomDanger'} }) }}
                        </div>
                        <div class="table-responsive-sm mt-2">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Cliente</th>
                                    <th>Lider</th>
                                    <th>Celular</th>
                                    <th>Correo</th>
                                    <th title="Estado terminado">TER</th>
                                    <th></th>
                                    <th></th>
                                    <th class="text-center" title="seleccionar todos">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" name="ChkSeleccionar[]"
                                                   class="custom-control-input"
                                                   id="todosInput"
                                                   onclick="ChequearTodosTabla(this, 'ChkSeleccionar[]')"/>
                                            <label class="custom-control-label" for="todosInput"></label>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arImplementacion in arImplementaciones %}
                                    <tr>
                                        <td>{{ arImplementacion.codigoImplementacionPk }}</td>
                                        <td>{{ arImplementacion.nombre }}</td>
                                        <td>{{ arImplementacion.clienteNombreCorto }}</td>
                                        <td>{{ arImplementacion.liderCliente }}</td>
                                        <td>{{ arImplementacion.celularLider }}</td>
                                        <td>{{ arImplementacion.correoLider }}</td>
                                        <td  class="text-center">{{ arImplementacion.estadoTerminado?'SI':'NO' }}</td>
                                        <td class="text-center">
                                            <a
                                                    href="javascript:abrirVentana3('{{ path('operacion_implementacion_nuevo', {'id': arImplementacion.codigoImplementacionPk }) }}', 'Nuevo', 600, 1200)">
                                                <i class="fas fa-pen fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('operacion_implementacion_detalle', { 'id': arImplementacion.codigoImplementacionPk }) }}">
                                                <i class="fas fa-eye fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="ChkSeleccionar[]"
                                                   value="{{ arImplementacion.codigoImplementacionPk }}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}