{% extends 'baseOscura.html.twig' %}
{% block stylesheets %}
    <style>
        .widget-area .widget_search form button {
            width: 80px
        }
    </style>
{% endblock %}
{% block content %}
    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>¿Como se hace?</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a>
                            </li>
                            <li>Preguntas frecuentes</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Services Details Area -->
    <section class="services-details-area">
        <div class="container">
            <div class="services-details-overview">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="services-step-wrapper">
                            <div class="services-step-title">
                                <h2>¿Consultar soporte existente?</h2>
                            </div>
                            <div class="services-step-content">
                                <p>En el uso del sistema y sus funcionalidades, los usuarios pueden tener dudas en su
                                    proceso de aprendizaje,
                                    requerir asesorías y acompañamiento para el desempeño de sus funciones. Nuestro
                                    equipo de soporte está
                                    atento para atender cualquier situación de conocimiento sobre nuestro
                                    producto...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{#            <button class="default-btn-one mb-2" id="btnConsultarSoporteExistente">#}
{#                Consultar soporte existente#}
{#                <span></span>#}
{#            </button>#}
            <aside class="widget-area mt-2" id="secondary">
                <section class="widget widget_search">
                    {{ form_start(formBuscar, { 'attr': {'class': 'search-form search-top'} }) }}
                    <label> <span class="screen-reader-text">Search for:</span>
                        {{ form_widget(formBuscar.codigoSoporte, { 'attr': {'class':'search-field', 'placeholder': 'Buscar soporte'} }) }}
                    </label>
                    {{ form_widget(formBuscar.buscar) }}
                    {{ form_end(formBuscar) }}
                </section>
                {% if arSoporteConsultado %}
                    <div class="row mt-2">
                        <div class="col-lg-8 col-md-12">
                            <div class="blog-details-desc">
                                <div class="article-content">

                                        <div class="comments-area">
                                            <div class="entry-meta">
                                                <ul>
                                                    <li><span>Creado en:</span> <a
                                                                href="#">{{ arSoporteConsultado.fecha | date('F jS \\a\\t g:ia') }}</a>
                                                    </li>
                                                    <li><span>Publicado por:</span> <a
                                                                href="#">{{ arSoporteConsultado.contacto }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <h3 class="comments-title">Descripcion soporte # {{ arSoporteConsultado.codigoSoportePk }}</h3>
                                            <article class="comment-body" style="padding-left: 0">
                                                <p>{{ arSoporteConsultado.descripcion }}</p>
                                            </article>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <aside class="widget-area" id="secondary">
                                <section class="widget widget_categories">
                                    <h3 class="widget-title">Estados</h3>
                                    <ul>
                                        {% if arSoporteConsultado.estadoAtendido %}
                                            <li><a href="#">Atendido <span
                                                            class="categories-link-count"> {{ arSoporteConsultado.fechaAtendido | date('Y-m-d H:i') }}</span></a>
                                            </li>
                                        {% endif %}
                                        {% if arSoporteConsultado.estadoSolucionado %}
                                            <li><a href="#">Solucionado <span
                                                            class="categories-link-count"> {{ arSoporteConsultado.fechaSolucion | date('Y-m-d H:i') }}</span></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </section>
                            </aside>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="comments-area">
                                <h3 class="comments-title">Respuesta:</h3>
                                <ol class="comment-list">
                                    <li class="comment">
                                        <article class="comment-body" style="border-bottom: 0">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="about-image-left">
                                                                <img src="{{ asset('landingPage/img/client/comment-3.jpg') }}"
                                                                     alt="image">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <b class="fn">Asesor Semantica</b>
                                                            <span class="says">says:</span>
                                                            <div class="comment-metadata">
                                                                <a href="#">
                                                                    <span>{{ arSoporteConsultado.fechaSolucion | date('F jS \\a\\t g:ia') }}</span>
                                                                </a>
                                                            </div>
                                                            <div class="comment-content">
                                                                <p>{{ arSoporteConsultado.solucionCliente }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </footer>

                                        </article>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </aside>
        </div>
    </section>
    <!-- End Services Details Area -->
    <!-- Start Contact Section -->
    <div class="contact-section py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="contact-information-box-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Direccion:</h6>
                                        <p>Cll 34 Nro 66 A 33 Ofc 201, Conquistadores</p>
                                        <p>Medellin, Antioquia - Colombia</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-map-marker"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Horarios:</h6>
                                        <p>Lunes - Viernes</p>
                                        <p>08:00 a 12:00</p>
                                        <p>13:00 a 17:00</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-call"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Correo:</h6>
                                        <p>soporte@semantica.com.co</p>
                                        <p>implementacion@semantica.com.co</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-mail"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="contact-form contact-form-3">
                        <p class="form-message"></p>
                        {{ form_start(form, { 'attr': {'class': 'form',  'enctype':'multipart/form-data'} }) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.contacto, { 'attr': {'placeholder': 'Su nombre'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.correo, { 'attr': {'placeholder': 'Correo'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.telefono, { 'attr': {'placeholder': 'Telefono'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.clienteIngreso, { 'attr': {'placeholder': 'Cliente'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.moduloRel) }}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.descripcion, { 'attr': {'placeholder': 'Su pregunta', 'cols':30, 'rows':6} }) }}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="file" multiple="multiple" class="multi form-control" name="files[]"/>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-content-center ">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                            <a href="{{ path('soporte') }}" class="default-btn-one">
                                Regresar
                                <span></span>
                            </a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Section -->
{% endblock %}
{% block javascriptsPersonales %}
    <script>
        $("#btnConsultarSoporteExistente").click(function () {
            $('#secondary').fadeTo(500, 1);
            $('#form_codigoSoporte').focus()
        });
    </script>
{% endblock %}