{% extends 'baseOscura.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Solicitar productos y servicios</h2>
                        <ul>
                            <li><a href="{{ path('soporte') }}">Soporte</a>
                            </li>
                            <li>Solicitud </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Services Details Area -->
    <section class="services-details-area">
        <div class="container">
            <div class="services-details-overview">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="services-step-wrapper">
                            <div class="services-step-title">
                                <h2>Solicitar productos y servicios nuevos y adicionales</h2>
                            </div>
                            <div class="services-step-content">
                                <p>En la dinámica comercial se pueden solicitar productos y servicios, nuevos y existentes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Details Area -->

    <!-- Start Contact Section -->
    <div class="contact-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="contact-information-box-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Direccion:</h6>
                                        <p>Cll 34 Nro 66 A 33 Ofc 201, Conquistadores</p>
                                        <p>Medellin, Antioquia - Colombia</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-map-marker"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Horarios:</h6>
                                        <p>Lunes - Viernes</p>
                                        <p>08:00 a 12:00</p>
                                        <p>13:00 a 17:00</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-call"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="single-contact-info-box">
                                    <div class="contact-info">
                                        <h6>Correo:</h6>
                                        <p>soporte@semantica.com.co</p>
                                        <p>implementacion@semantica.com.co</p>
                                    </div>
                                    <div class="contact-info-bg-icon">
                                        <i class="pe-7s-mail"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="contact-form contact-form-3">
                        <p class="form-message"></p>
                        {{ form_start(form, { 'attr': {'class': 'form',  'enctype':'multipart/form-data'} }) }}
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.contacto, { 'attr': {'placeholder': 'Su nombre'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.correo, { 'attr': {'placeholder': 'Correo'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.telefono, { 'attr': {'placeholder': 'Telefono'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.clienteIngreso, { 'attr': {'placeholder': 'Cliente'} }) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.moduloRel) }}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    {{ form_widget(form.descripcion, { 'attr': {'placeholder': 'Su pregunta', 'cols':30, 'rows':6} }) }}
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="file" multiple="multiple" class="multi form-control" name="files[]"/>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-content-center ">
                            {{ form_widget(form.guardar, { 'attr': {'class': 'btnCustom'} }) }}
                            <a href="{{ path('soporte') }}" class="default-btn-one">
                                Regresar
                                <span></span>
                            </a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Section -->

{% endblock %}