{% extends 'baseOscura.html.twig' %}
{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area item-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>Soporte & Autogestion</h2>
                        <ul>
                            <li><a href="{{ path('inicio') }}">Inicio</a></li>
                            <li>Servicios</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start Services Section -->
    <section class="services-section pt-70 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-tools"></i>
                        </div>
                        <h3>¿Como se hace?</h3>
                        <p>Sobre el uso del ERP: Inquietudes, apoyos, recursos, manuales, procesos</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'SOP'}) }}" class="services-link">Solicitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-display1"></i>
                        </div>
                        <h3>Reporte fallas</h3>
                        <p>Error 500, fallas técnicas en el funcionamiento de la plataforma</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'ERR'}) }}" class="services-link">Reportar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-share"></i>
                        </div>
                        <h3>Consultoría especializada</h3>
                        <p>Temas avanzados: costo inventario, distribución nómina, información financiera</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'CES'}) }}" class="services-link">Solicitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-graph1"></i>
                        </div>
                        <h3>Solicitud desarrollo</h3>
                        <p>Funcionalidades de uso general, nuevas o mejorar las existentes, mejorar la experiencia de uso</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'DES'}) }}" class="services-link">Solicitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-config"></i>
                        </div>
                        <h3>Solicitud especial</h3>
                        <p>Solicitudes de tipo general como respaldos de bases de datos, especificaciones técnicas de nuestros productos</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'SOL'}) }}" class="services-link">Solicitar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-services-item">
                        <div class="services-icon">
                            <i class="pe-7s-server"></i>
                        </div>
                        <h3>Productos y servicios</h3>
                        <p>Solicitar capacitaciones, implementaciones, consultoría, desarrollo a la medida, infraestructura, formatos personalizados.</p>
                        <div class="services-btn-link">
                            <a href="{{ path('soporte_nuevo', {'tipo':'SER'}) }}" class="services-link">Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Section -->

    <!-- Start Services Details Area -->
    <section class="services-details-area section-padding">
        <div class="container">
            <aside class="widget-area mt-2" id="secondary">
                <section class="widget widget_search">
                    {{ form_start(formBuscar, { 'attr': {'class': 'search-form search-top'} }) }}
                    <label> <span class="screen-reader-text">Search for:</span>
                        {{ form_widget(formBuscar.codigoCaso, { 'attr': {'class':'search-field', 'placeholder': 'Buscar soporte'} }) }}
                    </label>
                    {{ form_widget(formBuscar.buscar) }}
                    {{ form_end(formBuscar) }}
                </section>
                {% if arCasoConsultado %}
                    <div class="row mt-2">
                        <div class="col-lg-8 col-md-12">
                            <div class="blog-details-desc">
                                <div class="article-content">

                                    <div class="comments-area">
                                        <div class="entry-meta">
                                            <ul>
                                                <li><span>Creado en:</span> <a
                                                            href="#">{{ arCasoConsultado.fecha | date('F jS \\a\\t g:ia') }}</a>
                                                </li>
                                                <li><span>Publicado por:</span> <a
                                                            href="#">{{ arCasoConsultado.contacto }}</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h3 class="comments-title">Descripcion soporte # {{ arCasoConsultado.codigoCasoPk }}</h3>
                                        <article class="comment-body" style="padding-left: 0">
                                            <p>{{ arCasoConsultado.descripcion }}</p>
                                        </article>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <aside class="widget-area" id="secondary">
                                <section class="widget widget_categories">
                                    <h3 class="widget-title">Estados</h3>
                                    <ul>
                                        {% if arCasoConsultado.estadoAtendido %}
                                            <li><a href="#">Atendido <span
                                                            class="categories-link-count"> {{ arCasoConsultado.fechaAtendido | date('Y-m-d H:i') }}</span></a>
                                            </li>
                                        {% endif %}
                                        {% if arCasoConsultado.estadoCerrado %}
                                            <li><a href="#">Cerrado <span
                                                            class="categories-link-count"> {{ arCasoConsultado.fechaCerrado | date('Y-m-d H:i') }}</span></a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </section>
                            </aside>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="comments-area">
                                <h3 class="comments-title">Respuesta:</h3>
                                <ol class="comment-list">
                                    {% for arRespuesta in arCasoConsultado.casosRespuestasCasoRel %}
                                    <li class="comment">
                                        <article class="comment-body" style="border-bottom: 0">
                                            <footer class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="about-image-left">
                                                                <img src="{{ asset('landingPage/img/client/comment-3.jpg') }}"
                                                                     alt="image">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-8">
                                                            <b class="fn">@{{ arRespuesta.usuarioRel.nombres | default('') }}{{ arRespuesta.usuarioRel.apellidos | default('') }}</b>
                                                            <span class="says">says:</span>
                                                            <div class="comment-metadata">
                                                                <a href="#">
                                                                    <span>{{ arRespuesta.fecha | date('F jS \\a\\t g:ia') }}</span>
                                                                </a>
                                                            </div>
                                                            <div class="comment-content">
                                                                <p>{{ arRespuesta.comentario }}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </footer>

                                        </article>
                                    </li>
                                    {% endfor %}
                                </ol>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </aside>
        </div>
    </section>
    <!-- End Services Details Area -->

    <!-- Start Overview Section -->
    <section class="overview-section bg-grey section-padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="overview-image">
                        <img src="{{ asset('landingPage/img/choose-2-soporte.png') }}" alt="logo">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="overview-content">
                        <h2>Otros recursos de auto ayuda</h2>
                        <p>Tenemos al servicio de nuestros clientes distintos recursos audiovisuales de autogestion, si requiere una
                            atencion personalizada solicite el soporte a un asesor.</p>
                        <ul class="features-list">
                            <li><a href="{{ path('soporte_documentacion_recursos') }}"><span class="active">Documentacion & Manuales</span></a></li>
                            <li><a href="https://www.youtube.com/channel/UCk2FSMxqxz3Y6fkyKT_ef3w" target="_blank"><span>Canal YouTube</span></a></li>
                            <li><a href="{{ path('soporte_descarga') }}"><span>Descargas</span></a></li>
                            <li><a href="{{ path('inicio') }}"><span>Preguntas frecuentes</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Overview Section -->

    <!-- Start Faq Section -->
    <section class="faq-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="faq-accordion">
                        <ul class="accordion">
                            <li class="accordion-item">
                                <a class="accordion-title active" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como ingresar a Semantica ERP?</a>
                                <p class="accordion-content show">
                                    Ingresa la URL en tu navegador preferido, “nombreempresa.semantica.com.co” luego en “Username” registra el nombre o número de usuario,
                                    según como se haya creado en el sistema, en “Password” digita la contraseña registrada correspondiente al usuario y
                                    por último dar clic en “inicio seguro”
                                </p>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como crear una programacion de nomina?</a>
                                <p class="accordion-content">
                                    Primero ingresamos al ERP, vamos a la ruta: Recurso humano/movimiento/nómina/programación. Dar clic al botón “nuevo” y diligenciar la información correspondiente (en el boton de ayuda puede encontrar cada campo y un video instructivo).
                                    Guardamos la informacion principal y la aplicacion nos lleva al detalle, allí se debe dar clic en el botón cargar contratos (Cuando la nómina es grupo administrativo) y se cargan todos los empleados o "Cargar soporte" (cuando la nómina es grupo operativo),
                                    luego se debe "Autorizar" para que se carguen los valores que se le va a pagar al empleado. Importante: (Si se realiza alguna corrección, se debe "Desautorizar" y "Autorizar" de nuevo para que tome la actualización) luego, cuando ya se haya revisado que todo está correcto, clic en "Aprobar".</p>
                            </li>
                            <li class="accordion-item">
                                <a class="accordion-title" href="javascript:void(0)"> <i class="fa fa-caret-down"></i>
                                    Como se genera un informe de pagos de nomina?</a>
                                <p class="accordion-content">La ruta es: Recurso humano/informe/nómina/pago detalle,
                                    realizar los filtros requeridos y extraer la informacion por los diferentes mecanismos (excel/pdf).</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Faq Section -->

{% endblock %}
{% block javascriptsPersonales %}
    <script>
        $("#btnConsultarSoporteExistente").click(function () {
            $('#secondary').fadeTo(500, 1);
            $('#form_codigoSoporte').focus()
        });
    </script>
{% endblock %}