<!DOCTYPE html>
<html class="fixed" lang="es">
<head>
    {% block metas %}
        <title>{% block title %}Semantica{% endblock %}</title>
        <meta name="keywords" content="HTML5 Admin Template"/>
        <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
        <meta name="author" content="JSOFT.net">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8"/>
    {% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="stylesheet" href="{{ asset('landingPage/img/favicon.png') }}">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/bootstrap.min.css') }}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/animate.min.css') }}">
    <!-- Pe-icon-7 CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/pe-icon-7-stroke.css') }}">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/fontawesome.min.css') }}">
    <!-- Mran Menu CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/meanmenu.css') }}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/owl.carousel.min.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/responsive.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

{% block body %}
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    {{ include('base/menuPagina.html.twig', {'oscuro':true}) }}
    {% block content %}

    {% endblock %}

    <!-- Start Footer Section -->
    <section class="footer-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Sobre nosotros</h3>
                        </div>
                        <p>Estamos en redes sociales.</p>
                        <ul class="footer-social">
                            <li>
                                <a href="#"> <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fab fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fab fa-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Otros servicios</h3>
                        </div>
                        <ul class="footer-quick-links">
                            <li><a href="#">Infraestructura</a></li>
                            <li><a href="#">Asesorias</a></li>
                            <li><a href="#">Consultoria</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Enlaces</h3>
                        </div>
                        <ul class="footer-quick-links">
                            <li><a href="about.html">Nosotros</a></li>
                            <li><a href="projects.html">Servicios</a></li>
                            <li><a href="contact.html">Contactenos</a></li>
                            <li><a href="privacy-policy.html">Politica Privacidad</a></li>
                            <li><a href="terms-condition.html">Terminos & Condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <div class="footer-heading">
                            <h3>Informacion Contacto</h3>
                        </div>
                        <div class="footer-info-contact">
                            <span><strong>Telefono:</strong> <a href="tel:0802235678">+4 320 5015059</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <span><strong>Correo:</strong> <a href="mailto:demo@example.com">administracion@semantica.com.co</a></span>
                        </div>
                        <div class="footer-info-contact">
                            <span><strong>Direccion:</strong> Calle 34 N66 A 33, Conquistadores, Medellin - Antioquia</span>
                        </div>
                        <!-- Start Subscribe Area -->
                        <form class="newsletter-form">
                            <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL"
                                   required autocomplete="off">
                            <button class="default-btn" type="submit">Suscribase <span></span></button>
                        </form>
                        <!-- End Subscribe Area -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Footer Section -->

    <!-- Start Copy Right Section -->
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <p><i class="far fa-copyright"></i> 2022 Semantica Digital - Todos los derechos reservados.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul>
                        <li><a href="terms-condition.html">Terminos & Condiciones</a>
                        </li>
                        <li><a href="privacy-policy.html">Politicas Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copy Right Section -->

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

{% endblock %}

<!-- jQuery Min JS -->
<script src="{{ asset('landingPage/js/jquery.min.js') }}"></script>
<!-- Bootstrap Min JS -->
<script src="{{ asset('landingPage/js/bootstrap.min.js') }}"></script>
<!-- MeanMenu JS  -->
<script src="{{ asset('landingPage/js/jquery.meanmenu.js') }}"></script>
<!-- Appear Min JS -->
<script src="{{ asset('landingPage/js/jquery.appear.min.js') }}"></script>
<!-- CounterUp Min JS -->
<script src="{{ asset('landingPage/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('landingPage/js/jquery.counterup.min.js') }}"></script>
<!-- Multifile JS -->
<script src="{{ asset('landingPage/js/jquery.multifile.js') }}"></script>
<!-- Owl Carousel Min JS -->
<script src="{{ asset('landingPage/js/owl.carousel.min.js') }}"></script>
<!-- WOW Min JS -->
<script src="{{ asset('landingPage/js/wow.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('landingPage/js/main.js') }}"></script>

<script src="{{ asset('js/general.js') }}"></script>

{% block javascriptsPersonales %}{% endblock %}

</body>

</html>
