<!DOCTYPE html>
<html class="fixed" lang="es">
<head>
    {% block metas %}
        <title>{% block title %}Semantica{% endblock %}</title>
        <meta name="keywords" content="HTML5 Admin Template"/>
        <meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
        <meta name="author" content="JSOFT.net">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8"/>
    {% endblock %}

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ asset('imagenes/favicon.ico') }}" type="image/x-icon">
    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/bootstrap.min.css') }}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/animate.min.css') }}">
    <!-- Pe-icon-7 CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/pe-icon-7-stroke.css') }}">
    <!-- Font Awesome Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/fontawesome.min.css') }}">
    <!-- Mran Menu CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/meanmenu.css') }}">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/owl.carousel.min.css') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ asset('landingPage/css/responsive.css') }}">
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

{% block body %}
    <!-- Start Preloader Area -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="lds-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->
    {{ include('base/menuPagina.html.twig', {'oscuro':true}) }}
    {% block content %}

    {% endblock %}
    {{ include('base/pie.html.twig', {'oscuro':false}) }}

    <!-- Start Go Top Section -->
    <div class="go-top">
        <i class="fas fa-chevron-up"></i>
        <i class="fas fa-chevron-up"></i>
    </div>
    <!-- End Go Top Section -->

{% endblock %}

<!-- jQuery Min JS -->
<script src="{{ asset('landingPage/js/jquery.min.js') }}"></script>
<!-- Bootstrap Min JS -->
<script src="{{ asset('landingPage/js/bootstrap.min.js') }}"></script>
<!-- MeanMenu JS  -->
<script src="{{ asset('landingPage/js/jquery.meanmenu.js') }}"></script>
<!-- Appear Min JS -->
<script src="{{ asset('landingPage/js/jquery.appear.min.js') }}"></script>
<!-- CounterUp Min JS -->
<script src="{{ asset('landingPage/js/jquery.waypoints.min.js') }}"></script>
<script src="{{ asset('landingPage/js/jquery.counterup.min.js') }}"></script>
<!-- Multifile JS -->
<script src="{{ asset('landingPage/js/jquery.multifile.js') }}"></script>
<!-- Owl Carousel Min JS -->
<script src="{{ asset('landingPage/js/owl.carousel.min.js') }}"></script>
<!-- WOW Min JS -->
<script src="{{ asset('landingPage/js/wow.min.js') }}"></script>
<!-- Main JS -->
<script src="{{ asset('landingPage/js/main.js') }}"></script>

<script src="{{ asset('js/general.js') }}"></script>

{% block javascriptsPersonales %}{% endblock %}

</body>

</html>
