{% extends 'baseAdmin.html.twig' %}
{% block content %}

    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-testimonial">
                        <div class="d-flex justify-content-start">
                            <a class="btnCustom" href="{{ path('desarrollo_tarea_lista') }}">Volver <span></span></a>
                            {% if arTarea.estadoTerminado == 0 and arTarea.estadoVerificado == 0 and arTarea.estadoEjecucion == 0 %}
                                <a class="btnCustom"
                                   href="javascript:abrirVentana3('{{ path('desarrollo_tarea_ejecutar', {'id': arTarea.codigoTareaPk}) }}', 'Ejecutar', 600, 1200)">Ejecutar</a>
                            {% endif %}
                            {% if arTarea.estadoTerminado == 0 and arTarea.estadoVerificado == 0 and arTarea.estadoEjecucion == 1 %}
                                <a class="btnCustom"
                                   href="javascript:abrirVentana3('{{ path('desarrollo_tarea_terminar', {'id': arTarea.codigoTareaPk}) }}', 'Ejecutar', 600, 1200)">Terminar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-datos m-0">
                                        <tr>
                                            <td class="title-bg-color">CODIGO:</td>
                                            <td class="td-in-well">{{ arTarea.codigoTareaPk }}</td>
                                            <td class="title-bg-color"></td>
                                            <td class="td-in-well"></td>
                                            <td class="title-bg-color"></td>
                                            <td class="td-in-well"></td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">ASUNTO:</td>
                                            <td class="td-in-well" colspan="5">{{ arTarea.descripcion }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-bg-color">COMENTARIO (TER):</td>
                                            <td class="td-in-well" colspan="5">{{ arTarea.comentarioTerminado }}</td>
                                        </tr>
                                    </table>
                                    {% if arTarea.codigoCasoFk is not null %}
                                        <table class="table table-condensed table-bordered mt-2">
                                            <tr>
                                                <td class="title-bg-color">CODIGO:</td>
                                                <td class="td-in-well">{{ arCaso.codigoCasoPk }}</td>
                                                <td class="title-bg-color">FECHA:</td>
                                                <td class="td-in-well">{{ arCaso.fecha | date('Y-m-d') }}</td>
                                                <td class="title-bg-color"></td>
                                                <td class="td-in-well"></td>
                                            </tr>
                                            <tr>
                                                <td class="title-bg-color">CONTACTO:</td>
                                                <td class="td-in-well">{{ arCaso.contacto }}</td>
                                                <td class="title-bg-color">TELEFONO:</td>
                                                <td class="td-in-well">{{ arCaso.telefono }}</td>
                                                <td class="title-bg-color">CORREO:</td>
                                                <td class="td-in-well">{{ arCaso.correo }}</td>
                                            </tr>
                                            <tr>
                                                <td class="title-bg-color">DESCRIPCION:</td>
                                                <td class="td-in-well" colspan="5">{{ arCaso.descripcion }}</td>
                                            </tr>
                                        </table>
                                    {% endif %}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-header title-bg-color">
                                <h5>Devoluciones</h5>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-datos m-0">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Fecha</th>
                                            <th>Motivo</th>
                                            <th>Descripcion</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arDevolucion in arDevoluciones %}
                                            <tr>
                                                <td>{{ arDevolucion.codigoDevolucionPk }}</td>
                                                <td>{{ arDevolucion.fecha | date('Y-m-d H:i') }}</td>
                                                <td>{{ arDevolucion.devolucionTipoRel.nombre }}</td>
                                                <td>{{ arDevolucion.descripcion }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial py-0">
                        <section class="card">
                            <div class="card-header title-bg-color">
                                <h5>Tiempos</h5>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered table-hover mb-none tabla-datos m-0">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Inicio</th>
                                            <th>Fin</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for arTiempo in arTiempos %}
                                            <tr>
                                                <td>{{ arTiempo.codigoTiempoPk }}</td>
                                                <td>{{ arTiempo.inicio | date('Y-m-d H:i') }}</td>
                                                <td>{{ arTiempo.fin | date('Y-m-d H:i') }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}