{% extends 'baseAdmin.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <section class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-testimonial">
                        <div class="card">
                            {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
                            <div class="card-header title-bg-color">
                                <h5>Filtros</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-row">
                                    <div class="form-group col-md-3">
                                        <label for="inputEmail4">Proyecto:</label>
                                        {{ form_widget(form.proyectoRel) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Terminado:</label>
                                        {{ form_widget(form.estadoTerminado) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Ejecución:</label>
                                        {{ form_widget(form.estadoEjecucion) }}
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="inputPassword4">Verificado:</label>
                                        {{ form_widget(form.estadoVerificado) }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="d-flex justify-content-end">
                                    {{ form_widget(form.btnFiltrar, { 'attr': {'class': 'btnCustom'} }) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-testimonial">

                        <div class="d-flex justify-content-end">
                            {{ form_widget(form.btnEliminar, { 'attr': {'class': 'btnCustomDanger'} }) }}
                            <a class="btnCustom"
                               href="{{ path('admin_tarea_nuevo', {'id': 0, 'codigoCaso': 0}) }}">Nuevo</a>
                        </div>
                        <div class="table-responsive-sm  mt-2">
                            <table class="table table-condensed table-bordered table-hover mb-none tabla-administracion m-0">
                                <thead class="title-bg-color">
                                <tr>
                                    <th>Id</th>
                                    <th>Fecha</th>
                                    <th>Entrega</th>
                                    <th>Prioridad</th>
                                    <th>Proyecto</th>
                                    <th>Usuario</th>
                                    <th>Caso</th>
                                    <th>Descripcion</th>
                                    <th title="Estado ejecucion">EJE</th>
                                    <th title="Estado terminado">TER</th>
                                    <th title="Estado verificado">VER</th>
                                    <th title="Estado devolucion">DEV</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for arTarea in arTareas %}
                                    <tr>
                                        <td>{{ arTarea.codigoTareaPk }}</td>
                                        <td>{{ arTarea.fecha | date('Y-m-d H:i') }}</td>
                                        <td>{{ arTarea.fechaEntrega ? arTarea.fechaEntrega | date('Y-m-d H:i') : '' }}</td>
                                        <td>{{ arTarea.codigoPrioridadFk }}</td>
                                        <td>{{ arTarea.proyectoNombre }}</td>
                                        <td>{{ arTarea.codigoUsuarioFk }}</td>
                                        <td>{{ arTarea.codigoCasoFk }}</td>
                                        <td>{{ arTarea.descripcion }}</td>
                                        <td class="text-center">{{ arTarea.estadoEjecucion ? 'SI':'NO' }}</td>
                                        <td class="text-center">{{ arTarea.estadoTerminado ? 'SI':'NO' }}</td>
                                        <td class="text-center">{{ arTarea.estadoVerificado ? 'SI':'NO' }}</td>
                                        <td class="text-center">{{ arTarea.estadoDevolucion ? 'SI':'NO' }}</td>
                                        <td class="text-center">
                                            <a href="{{ path('admin_tarea_nuevo', { 'id': arTarea.codigoTareaPk, 'codigoCaso': 0 }) }}">
                                                <i class="fas fa-pen fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a href="{{ path('admin_tarea_detalle', { 'id': arTarea.codigoTareaPk }) }}">
                                                <i class="fas fa-eye fa-2x"></i>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" name="ChkSeleccionar[]"
                                                   value="{{ arTarea.codigoTareaPk }}"/>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <div class="btn btn-default btn-sm">Registros
                                <span>{{ arTareas.getTotalItemCount }}</span>
                            </div>
                            <div class="btn-group btn-xs">
                                {{ knp_pagination_render(arTareas) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}